Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

chore: Fix date in CHANGELOG for v1.13.3
  CHANGELOG.md
Due: validate-documentation

Release v1.13.3: Fix custom section headers not rendering in PDFs (#227)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/processors/template_processor.py
  tests/regression/test_discord_reported_issues.py
  tests/unit/test_md2tex.py
Due: lazydocs-generate, validate-documentation

style: Apply ruff formatting to test_changelog_command.py
  tests/cli/test_changelog_command.py
Due: none

test: Fix changelog command tests for Rich formatting (#228)
  tests/cli/test_changelog_command.py
Due: none

chore: Bump version to v1.13.4
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/generate_figures.py
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate, validate-documentation

Release v1.13.4 (#229)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/generate_figures.py
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate, validate-documentation

Release v1.13.5: Add interactive path change to repos-search
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/repos_search.py
  src/rxiv_maker/cli/interactive.py
  tests/unit/test_interactive_path_change.py
Due: lazydocs-generate, validate-documentation

Release v1.13.5: Add interactive path change to repos-search (#230)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/repos_search.py
  src/rxiv_maker/cli/interactive.py
  tests/unit/test_interactive_path_change.py
Due: lazydocs-generate, validate-documentation

Release v1.13.6: Fix citation auto-injection to use arXiv
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

docs: Update API documentation for citation_utils.py
  src/docs/api/citation_utils.py.md
Due: none

test: Update sample_changelog fixture for v1.13.6
  tests/cli/test_changelog_command.py
Due: none

test: Fix changelog tests to strip ANSI codes and update version references
  tests/cli/test_changelog_command.py
Due: none

Release v1.13.6: Fix citation auto-injection to use arXiv (#231)
  CHANGELOG.md
  src/docs/api/citation_utils.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/cli/test_changelog_command.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

fix: Clarify citation system and enable DOI display
  src/rxiv_maker/config/validator.py
  src/tex/style/rxiv_maker_style.bst
  src/tex/style/rxiv_maker_style.cls
Due: lazydocs-generate

chore: Bump version to v1.13.7
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

test: Update changelog test fixture for v1.13.7
  tests/cli/test_changelog_command.py
Due: none

docs: Add Markdown comment syntax to README
  README.md
Due: validate-documentation

test: Fix changelog test to use latest version v1.13.7
  tests/cli/test_changelog_command.py
Due: none

Release v1.13.7: Fix DOI display and clarify citation system (#232)
  CHANGELOG.md
  README.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/tex/style/rxiv_maker_style.bst
  src/tex/style/rxiv_maker_style.cls
  tests/cli/test_changelog_command.py
Due: lazydocs-generate, validate-documentation

Add figure embedding to DOCX export
  README.md
  pyproject.toml
  src/docs/api/changelog_parser.py.md
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/exporters/__init__.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/changelog_parser.py
  src/rxiv_maker/utils/docx_helpers.py
  src/rxiv_maker/utils/tips.py
  src/rxiv_maker/utils/title_sync.py
  src/rxiv_maker/utils/update_checker.py
  src/rxiv_maker/validators/syntax_validator.py
  tests/fixtures/docx_export/sample_manuscript/01_MAIN.md
  tests/fixtures/docx_export/sample_manuscript/02_SUPPLEMENTARY_INFO.md
  tests/fixtures/docx_export/sample_manuscript/03_REFERENCES.bib
  tests/fixtures/docx_export/sample_manuscript/sample_manuscript.docx
  tests/integration/test_docx_export_integration.py
  tests/unit/exporters/__init__.py
  tests/unit/exporters/test_docx_citation_mapper.py
  tests/unit/exporters/test_docx_content_processor.py
  tests/unit/test_changelog_parser.py
  tests/unit/test_docx_helpers.py
  tests/unit/test_title_sync.py
  tests/unit/test_title_sync_validation.py
  tests/unit/test_update_checker.py
  tests/unit/test_validators.py
Due: lazydocs-generate, validate-documentation

Add --docx flag to pdf command for integrated DOCX export
  README.md
  src/rxiv_maker/cli/commands/build.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/exporters/docx_exporter.py
Due: lazydocs-generate, validate-documentation

Change DOCX output location to manuscript directory
  README.md
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/exporters/docx_exporter.py
Due: lazydocs-generate, validate-documentation

Use custom filename pattern for DOCX exports
  README.md
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/exporters/docx_exporter.py
Due: lazydocs-generate, validate-documentation

Fix DOCX formatting: justified text, visible citations, figures at end
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

fix(validators): prevent false positives in math validator for inline math after display math
  src/rxiv_maker/validators/math_validator.py
  tests/unit/test_validators.py
Due: lazydocs-generate

fix(style): add paragraph spacing when indentation is disabled
  src/tex/style/rxiv_maker_style.cls
Due: none

Release v1.14.0: DOCX export functionality
  CHANGELOG.md
  README.md
  src/docs/api/bibliography_parser.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/bibliography_parser.py
  src/rxiv_maker/utils/docx_helpers.py
Due: lazydocs-generate, validate-documentation

fix: improve paragraph spacing and prevent validate command hang
  src/rxiv_maker/cli/framework/content_commands.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/tex/style/rxiv_maker_style.cls
Due: lazydocs-generate

fix: Add 30-second timeout to prevent DOI validation from hanging indefinitely
  src/rxiv_maker/cli/framework/content_commands.py
  src/rxiv_maker/validators/citation_validator.py
  src/rxiv_maker/validators/doi_validator.py
Due: lazydocs-generate

Release v1.14.1: Fix equation reference formatting
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
Due: lazydocs-generate, validate-documentation

fix: Remove unused variable in test_title_sync.py
  tests/unit/test_title_sync.py
Due: none

Release v1.14.2: Fix test linting
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.14.3: Maintenance release
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

feat: Simplify configuration with smart defaults and auto-extraction (v1.15.0)
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/defaults.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/yaml_processor.py
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

fix: Support PNG and other image formats in DOCX export
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: Restore comprehensive DOCX formatting features
  pyproject.toml
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/converters/table_processor.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

style: Change citation formatting from bold to yellow highlighting
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

fix: Page break detection was being skipped as HTML comment
  src/rxiv_maker/exporters/docx_content_processor.py
Due: lazydocs-generate

Release v1.15.0: Simplified configuration with smart defaults (#237)
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/framework/content_commands.py
  src/rxiv_maker/config/defaults.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/converters/table_processor.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/yaml_processor.py
  src/rxiv_maker/templates/registry.py
  src/rxiv_maker/validators/citation_validator.py
  src/rxiv_maker/validators/doi_validator.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_title_sync.py
Due: lazydocs-generate, validate-documentation
