Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

chore: update uv.lock with new greenlet wheels
  uv.lock
Due: none

Release v1.9.4: Fix figure positioning for dedicated pages (#211)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_figure_processor.py
  uv.lock
Due: lazydocs-generate, validate-documentation

fix: respect custom widths for tex_position="p" figures
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  tests/unit/test_figure_processor.py
Due: lazydocs-generate, validate-documentation

fix: resolve white space issue with tex_position="p" figures in two-column layouts
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate

docs: update CHANGELOG for v1.9.5 with correct fix description
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.10.0: Fix white space issue with tex_position=p figures (#213)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate, validate-documentation

Release v1.11.0: Add methods_after_bibliography configuration option
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
  tests/unit/test_template_processor.py
Due: lazydocs-generate, validate-documentation

Release v1.11.0: Add methods_after_bibliography configuration option (#214)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
  tests/unit/test_template_processor.py
Due: lazydocs-generate, validate-documentation

Release v1.11.1: Replace boolean config with enum for three Methods placement options
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
  tests/unit/test_template_processor.py
Due: lazydocs-generate, validate-documentation

Release v1.11.1: Replace boolean config with enum for three Methods placement options (#215)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
  tests/unit/test_template_processor.py
Due: lazydocs-generate, validate-documentation

fix: Add validation and fallback for invalid methods_placement values
  src/rxiv_maker/processors/template_processor.py
  tests/visual/methods-placement/00_CONFIG.yml
  tests/visual/methods-placement/01_MAIN.md
  tests/visual/methods-placement/02_SUPPLEMENTARY_INFO.md
  tests/visual/methods-placement/03_REFERENCES.bib
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

feat: Add numeric value mapping for methods_placement config
  src/rxiv_maker/processors/template_processor.py
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

fix: Use runtime version instead of cached version in update notifications
  src/rxiv_maker/utils/update_checker.py
Due: lazydocs-generate

chore: Bump version to v1.11.2
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.11.2: Numeric mapping and validation improvements (#216)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/utils/update_checker.py
  tests/visual/methods-placement/00_CONFIG.yml
  tests/visual/methods-placement/01_MAIN.md
  tests/visual/methods-placement/02_SUPPLEMENTARY_INFO.md
  tests/visual/methods-placement/03_REFERENCES.bib
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

Release v1.11.3: Automatic figure extension mapping and template improvements (#217)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/templates/registry.py
  tests/integration/test_init_build_workflow.py
  tests/integration/test_pypi_package_integration.py
  tests/system/test_cli_workflows.py
Due: lazydocs-generate, validate-documentation

Release v1.11.3: Automatic figure extension mapping and template improvements (#217) (#217)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/templates/registry.py
  tests/integration/test_init_build_workflow.py
  tests/integration/test_pypi_package_integration.py
  tests/system/test_cli_workflows.py
Due: lazydocs-generate, validate-documentation

Release v1.12.0: Method placement feature redesigned with 5 options and true inline support
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/converters/types.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
  tests/regression/test_discord_reported_issues.py
  tests/unit/test_md2tex.py
  tests/unit/test_template_processor.py
  tests/visual/methods-placement/00_CONFIG.yml
  tests/visual/methods-placement/01_MAIN.md
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

Release v1.12.0: Method placement feature redesigned with 5 options and true inline support (#218)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/converters/types.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
  tests/regression/test_discord_reported_issues.py
  tests/unit/test_md2tex.py
  tests/unit/test_template_processor.py
  tests/visual/methods-placement/00_CONFIG.yml
  tests/visual/methods-placement/01_MAIN.md
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

Release v1.12.1: Remove inline methods placement option based on user testing
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  tests/unit/test_template_processor.py
  tests/visual/methods-placement/00_CONFIG.yml
  tests/visual/methods-placement/01_MAIN.md
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

Fix: Skip test_dependency_vulnerability_scanning (security module not implemented)
  tests/unit/test_security_scanner.py
Due: none

Add comprehensive test coverage for numeric value mapping and invalid value fallback
  tests/unit/test_template_processor.py
Due: none

Release v1.12.1: Remove inline methods placement option (#219)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  tests/unit/test_security_scanner.py
  tests/unit/test_template_processor.py
  tests/visual/methods-placement/00_CONFIG.yml
  tests/visual/methods-placement/01_MAIN.md
  tests/visual/methods-placement/README.md
Due: lazydocs-generate, validate-documentation

Release v1.12.2: Fix competing interests placement and DOI hyperlinks
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/processors/template_processor.py
  src/tex/style/rxiv_maker_style.bst
  src/tex/template.tex
  tests/unit/test_template_processor.py
Due: lazydocs-generate, validate-documentation

Address bot review feedback: Fix overly broad conflict pattern
  src/rxiv_maker/converters/section_processor.py
  tests/unit/test_template_processor.py
Due: lazydocs-generate

Fix formatting per ruff
  src/rxiv_maker/converters/section_processor.py
Due: lazydocs-generate

Release v1.12.2: Fix competing interests placement and DOI hyperlinks (#220)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/processors/template_processor.py
  src/tex/style/rxiv_maker_style.bst
  src/tex/template.tex
  tests/unit/test_template_processor.py
Due: lazydocs-generate, validate-documentation

chore: remove Gemini review bot workflows
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

Release v1.13.0: Multiple citation styles and inline DOI resolution
  MANUSCRIPT/00_CONFIG.yml
  README.md
  docs/citations-and-dois.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/engines/operations/add_bibliography.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/utils/doi_resolver.py
  src/tex/style/rxiv_maker_style.cls
  src/tex/template.tex
  tests/fixtures/00_CONFIG.yml
  tests/unit/test_citation_style.py
  tests/unit/test_doi_resolver.py
  tests/visual/figure-positioning/00_CONFIG.yml
  tests/visual/methods-placement/00_CONFIG.yml
Due: lazydocs-generate, validate-documentation

docs: Add cross-references to v1.13.0 citation documentation
  README.md
  docs/citations-and-dois.md
  docs/user_guide.md
Due: validate-documentation

docs: Add CHANGELOG entry for v1.13.0
  CHANGELOG.md
Due: validate-documentation

docs: Add cross-references to v1.13.0 citation documentation (#224)
  CHANGELOG.md
  README.md
  docs/citations-and-dois.md
  docs/user_guide.md
Due: validate-documentation

docs: Comprehensive documentation improvements across ecosystem
  CONTRIBUTING.md
  README.md
  RELEASING.md
  docs/ECOSYSTEM.md
  docs/TROUBLESHOOTING_MATRIX.md
  docs/citations-and-dois.md
  docs/user_guide.md
Due: validate-documentation

Release v1.13.1: Fix author-date citation formatting and add changelog features
  CHANGELOG.md
  README.md
  RELEASING.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/changelog.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/converters/citation_processor.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/converters/table_processor.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/utils/changelog_parser.py
  src/rxiv_maker/utils/update_checker.py
  tests/cli/test_changelog_command.py
  tests/unit/test_changelog_parser.py
  tests/unit/test_update_checker.py
Due: lazydocs-generate, validate-documentation

chore: Apply pre-commit formatting fixes
  src/docs/api/README.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/index.md
  src/rxiv_maker/utils/update_checker.py
  tests/cli/test_changelog_command.py
  tests/unit/test_changelog_parser.py
  tests/unit/test_update_checker.py
Due: lazydocs-generate

fix: Resolve dependency checker false positives in Homebrew installations
  CHANGELOG.md
  src/rxiv_maker/core/managers/dependency_manager.py
  tests/unit/test_dependency_package_names.py
Due: lazydocs-generate, validate-documentation

chore: Bump version to v1.13.2
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

test: Fix outdated assertion in update checker test
  tests/unit/test_update_checker.py
Due: none

Release v1.13.2: Fix dependency checker false positives
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/core/managers/dependency_manager.py
  tests/unit/test_dependency_package_names.py
  tests/unit/test_update_checker.py
Due: lazydocs-generate, validate-documentation

Release v1.13.3: Fix custom section headers not rendering in PDFs
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/section_processor.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/processors/template_processor.py
  tests/regression/test_discord_reported_issues.py
  tests/unit/test_md2tex.py
Due: lazydocs-generate, validate-documentation
