Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-submodules, check-repo-boundaries

.pre-commit-config.yaml:

repos:
  # General file formatting and cleaning (Rust-based alternatives)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.(md|tex)|git_submodules/.*)$
      - id: end-of-file-fixer
        exclude: ^(.*\.(md|tex|pdf|png|jpg|jpeg|svg)|git_submodules/.*)$
      - id: check-yaml
        exclude: ^git_submodules/.*$
      - id: check-toml
        exclude: ^git_submodules/.*$
      - id: check-json
        exclude: ^(git_submodules/.*|submodules/.*)$
      - id: check-merge-conflict
        exclude: ^git_submodules/.*$
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: ^git_submodules/.*$
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^git_submodules/.*$
      - id: check-executables-have-shebangs
        exclude: ^git_submodules/.*$
      - id: check-shebang-scripts-are-executable
        exclude: ^git_submodules/.*$

    # Spell checking with typos (Rust-based)
  - repo: https://github.com/crate-ci/typos
    rev: v1.34.0
    hooks:
      - id: typos
        exclude: ^git_submodules/.*$

  # Python formatting, linting, and import sorting with Ruff (Rust-based)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      # Linting (includes docstring validation with Google convention)
      - id: ruff
        args: [--fix, --extend-ignore=E501,D100,D101,D102,D103,D107]
        exclude: ^(.*\.ipynb|git_submodules/.*)$
      # Formatting (replaces black, isort, autoflake, docformatter)
      - id: ruff-format
        exclude: ^(.*\.ipynb|git_submodules/.*)$

  # Python type checking with mypy (keeping this as no mature Rust alternative exists)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.1
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(versioneer\.py|src/py/utils\.py|git_submodules/.*)$

  # Security checks with bandit (keeping this as it's still the best option)
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
        args: [-r, --format, custom]
        exclude: ^(tests/|versioneer\.py|src/py/_version\.py|git_submodules/.*)

  # Notebook output stripping (clean notebooks before commit)
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args: [--keep-output, --keep-count]
        exclude: ^git_submodules/.*$

  # BibTeX validation and formatting
  - repo: https://github.com/FlamingTempura/bibtex-tidy
    rev: v1.14.0
    hooks:
      - id: bibtex-tidy
        args: [--curly, --numeric, --align=13, --sort=year, --duplicates=key]
        files: \.bib$
        exclude: ^git_submodules/.*$

  # Generate API documentation with lazydocs (without validation)
  - repo: local
    hooks:
      - id: lazydocs-generate
        name: Generate API documentation
        entry: python src/rxiv_maker/engine/generate_docs.py
        language: system
        files: ^src/rxiv_maker/.*\.py$
        exclude: ^git_submodules/.*$
        pass_filenames: false

  # Repository integrity and contamination prevention safeguards
  - repo: local
    hooks:
      - id: validate-submodules
        name: Validate submodule integrity
        entry: scripts/safeguards/validate-submodules.sh
        language: system
        files: ^(\.gitmodules|submodules/.*)$
        pass_filenames: false
      - id: check-repo-boundaries
        name: Check repository boundaries
        entry: python scripts/safeguards/check-repo-boundaries.py
        language: system
        files: ^(\.gitmodules|submodules/.*|src/.*|pyproject\.toml|Makefile)$
        pass_filenames: false

default_language_version:
  python: python3

fix: apply ruff formatting to nox and platform files
  noxfile.py
  src/rxiv_maker/utils/platform.py
Due: lazydocs-generate, check-repo-boundaries

Remove Git submodules and simplify project architecture
  .bandit
Due: none

Remove Git submodules and simplify project architecture
  .gitmodules
Due: validate-submodules, check-repo-boundaries

Remove Git submodules and simplify project architecture (#72)
  .bandit
  .gitmodules
Due: validate-submodules, check-repo-boundaries

fix: resolve GitHub Actions artifact path issues in release workflow
  .github/workflows/release.yml
Due: none

Fix GitHub Actions release workflow artifact path issues (#73)
  .github/workflows/release.yml
Due: none

Adjust architecture figure width from 75% to 90%
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
Due: none

Sync repository changes (#74)
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
Due: none

Refactor shell completion from global option to dedicated command
  .bandit
  .github/workflows/build-pdf.yml
  .github/workflows/release.yml
  .gitignore
  .gitmodules
  CHANGELOG.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.svg
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  README.md
  TESTING_OPTIMIZATION_REPORT.md
  docs/CLI_REFERENCE.md
  docs/getting-started/installation.md
  noxfile.py
  pyproject.toml
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/completion.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/utils/platform.py
  tests/cli/test_main.py
  uv.lock
Due: lazydocs-generate, validate-submodules, check-repo-boundaries

Refactor shell completion from global option to dedicated command (#75)
  .gitignore
  CHANGELOG.md
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.svg
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  README.md
  TESTING_OPTIMIZATION_REPORT.md
  docs/CLI_REFERENCE.md
  docs/getting-started/installation.md
  pyproject.toml
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/completion.py
  src/rxiv_maker/cli/main.py
  tests/cli/test_main.py
  uv.lock
Due: lazydocs-generate, check-repo-boundaries

Fix subprocess execution issues in pipx/Homebrew installations (v1.4.21)
  CHANGELOG.md
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.svg
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engine/build_manager.py
  tests/binary/test_end_to_end.py
  tests/binary/test_package_managers.py
Due: lazydocs-generate, check-repo-boundaries

Fix manuscript directory resolution in PDF copying
  .github/workflows/build-pdf.yml
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  src/rxiv_maker/converters/text_formatters.py
  src/rxiv_maker/engine/build_manager.py
  src/rxiv_maker/utils/file_helpers.py
  src/rxiv_maker/utils/pdf_utils.py
  tests/binary/test_package_managers.py
  tests/unit/test_author_processor.py
Due: lazydocs-generate, check-repo-boundaries

Bump version to 1.4.22
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, check-repo-boundaries

Fix formatting and configuration updates from pre-commit hooks
  .bandit
  docs/api/README.md
  docs/api/index.md
  tests/conftest.py
  tests/integration/test_example_manuscript.py
Due: none

Major development updates and infrastructure improvements
  .github/workflows/test.yml
  .gitignore
  EXAMPLE_MANUSCRIPT/00_CONFIG.yml
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends/SFigure__preprint_trends.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends/SFigure__preprint_trends.svg
  MANUSCRIPT/00_CONFIG.yml
  Makefile
  README.md
  docs/CLI_REFERENCE.md
  noxfile.py
  src/docker/docs/architecture.md
  src/rxiv_maker/cli/commands/init.py
  src/rxiv_maker/config/manager.py
  src/rxiv_maker/core/error_codes.py
  src/rxiv_maker/engine/build_manager.py
  src/rxiv_maker/engine/cleanup.py
  src/rxiv_maker/engine/validate.py
  src/rxiv_maker/processors/yaml_processor.py
  src/rxiv_maker/validators/citation_validator.py
  src/rxiv_maker/validators/doi_validator.py
  tests/integration/test_doi_validation_integration.py
  tests/integration/test_example_manuscript.py
  tests/integration/test_pypi_package_integration.py
  tests/unit/test_cli_with_engine.py
  tests/unit/test_doi_validator.py
  tests/unit/test_yaml_processor.py
Due: lazydocs-generate, check-repo-boundaries

Fix Makefile CLI fallback commands argument formats
  Makefile
Due: check-repo-boundaries

Fix check-deps-verbose command to use module directly
  Makefile
Due: check-repo-boundaries

ci: simplify GitHub Actions workflows with local-first approach
  .github/dependabot.yml
  .github/workflows-archived/build-pdf.yml
  .github/workflows-archived/release.yml
  .github/workflows-archived/security.yml
  .github/workflows-archived/test.yml
  .github/workflows/ci.yml
  .github/workflows/release-simple.yml
  CONTRIBUTING.md
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__system_diagram/Figure__system_diagram.png
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__workflow/Figure__workflow.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture/SFigure__architecture.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends/SFigure__preprint_trends.png
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends/SFigure__preprint_trends.svg
Due: none

Bump version to 1.4.23 for release testing
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, check-repo-boundaries

Bump version to 1.4.24 - test OIDC publishing
  docs/PYPI_OIDC_SETUP.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, check-repo-boundaries

fix: update GitHub Actions integration test to reference current CI workflow
  tests/unit/test_github_actions_integration.py
Due: none

feat: modernize CI infrastructure with nox-based workflow and add engine abstraction
  .github/workflows/ci.yml
  CONTRIBUTING.md
  noxfile.py
  src/rxiv_maker/engines/__init__.py
  src/rxiv_maker/engines/abstract.py
  src/rxiv_maker/engines/docker_engine.py
Due: lazydocs-generate, check-repo-boundaries

fix: improve Google Colab notebook rxiv CLI installation and verification
  .pre-commit-config.yaml
  notebooks/rxiv_maker_colab.ipynb
Due: none

feat: implement comprehensive Docker build infrastructure
  .github/workflows/container-engines.yml
  .github/workflows/docker-build.yml
  .github/workflows/release-simple.yml
  src/docker/README.md
  src/docker/images/base/Dockerfile
  src/rxiv_maker/engines/factory.py
  src/rxiv_maker/engines/podman_engine.py
  test-runtime-injection.sh
  validate-container-imports.py
Due: lazydocs-generate, check-repo-boundaries

fix: resolve critical GitHub Actions workflow issues
  .github/workflows/container-engines.yml
  .github/workflows/docker-build.yml
  src/rxiv_maker/engine/build_manager.py
Due: lazydocs-generate, check-repo-boundaries

fix: remove trailing whitespace from workflow files
  .github/workflows/container-engines.yml
  .github/workflows/docker-build.yml
Due: none

fix: bump Docker image version to trigger rebuild
  src/docker/images/base/Dockerfile
Due: check-repo-boundaries

docs: generate comprehensive API documentation
  docs/api/README.md
  docs/api/index.md
Due: none

feat: comprehensive GitHub workflow improvements and fixes
  .github/workflows/container-engines.yml
  .github/workflows/docker-build.yml
Due: none

CI: container engines gating via step outputs; fix Python import path; add QEMU for arm64; ensure :latest tag after image load
  .github/workflows/container-engines.yml
  .github/workflows/docker-build.yml
Due: none

fix: resolve critical GitHub Actions workflow issues
  .github/workflows/container-engines.yml
  .github/workflows/docker-build.yml
Due: none

fix: resolve DOI validation test failures in CI environments
  tests/unit/test_doi_validator.py
Due: none

fix: complete DOI validation fixes for CI environments
  src/rxiv_maker/validators/citation_validator.py
  tests/integration/test_doi_validation_integration.py
Due: lazydocs-generate, check-repo-boundaries

🚀 feat: implement resilient DOI validation with comprehensive fallback system
  .pre-commit-config.yaml
  src/rxiv_maker/core/error_codes.py
  src/rxiv_maker/utils/doi_cache.py
  src/rxiv_maker/validators/doi/__init__.py
  src/rxiv_maker/validators/doi/api_clients.py
  src/rxiv_maker/validators/doi_validator.py
Due: lazydocs-generate, check-repo-boundaries

🎨 style: fix code formatting and import order issues
  .github/workflows/docker-build.yml
  .github/workflows/release-simple.yml
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends/SFigure__preprint_trends.png
  docs/api/README.md
  docs/api/index.md
  notebooks/rxiv_maker_YAML_editor.ipynb
  noxfile.py
  pyproject.toml
  src/docker/images/base/Dockerfile
  src/rxiv_maker/core/error_codes.py
  src/rxiv_maker/utils/doi_cache.py
  src/rxiv_maker/validators/doi/api_clients.py
  src/rxiv_maker/validators/doi_validator.py
  test_podman_init.py
  tests/binary/test_ci_matrix.py
  tests/binary/test_end_to_end.py
  tests/conftest.py
  tests/integration/test_doi_validation_integration.py
  tests/integration/test_pypi_package_integration.py
  tests/unit/test_docker_engine_mode.py
  tests/unit/test_error_handling_scenarios.py
  tests/unit/test_figure_generator.py
  tests/unit/test_github_actions_integration.py
  tests/unit/test_platform_detector.py
  validate-container-imports.py
Due: lazydocs-generate, check-repo-boundaries

docs: update API documentation and example manuscript
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  docs/api/README.md
  docs/api/index.md
Due: none
