Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

fix: remove all broken developer guide links
  docs/containers.md
  docs/first-manuscript.md
  docs/installation.md
  docs/writing-guide.md
Due: validate-documentation

feat: comprehensive manuscript improvements and validation enhancements
  .gitignore
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/DATA/arxiv_monthly_submissions.csv
  EXAMPLE_MANUSCRIPT/DATA/pubmed_by_year.csv
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__python_snippet.png
  EXAMPLE_MANUSCRIPT/src/py/data_updater.py
  scripts/validate_backticks.py
  src/docs/api/README.md
  src/docs/api/index.md
  src/rxiv_maker/converters/custom_command_processor.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/text_formatters.py
  src/tex/style/rxiv_maker_style.cls
Due: lazydocs-generate, validate-documentation

fix: improve error handling and add comprehensive test coverage
  src/rxiv_maker/converters/custom_command_processor.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/converters/md2tex.py
  tests/unit/test_figure_processor_error_handling.py
  tests/unit/test_md2tex.py
  tests/unit/test_validate_backticks.py
Due: lazydocs-generate

fix: resolve final test failures in error handling and text formatting
  src/rxiv_maker/converters/custom_command_processor.py
  tests/unit/test_text_formatters.py
Due: lazydocs-generate

feat: comprehensive manuscript improvements and validation enhancements (#166)
  .gitignore
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/DATA/arxiv_monthly_submissions.csv
  EXAMPLE_MANUSCRIPT/DATA/pubmed_by_year.csv
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__python_snippet.png
  EXAMPLE_MANUSCRIPT/src/py/data_updater.py
  scripts/validate_backticks.py
  src/docs/api/README.md
  src/docs/api/index.md
  src/rxiv_maker/converters/custom_command_processor.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/text_formatters.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_figure_processor_error_handling.py
  tests/unit/test_md2tex.py
  tests/unit/test_text_formatters.py
  tests/unit/test_validate_backticks.py
Due: lazydocs-generate, validate-documentation

fix: finalize path operations to handle spaces consistently
  scripts/validate_backticks.py
  src/rxiv_maker/converters/python_executor.py
  src/rxiv_maker/engines/operations/cleanup.py
  src/rxiv_maker/engines/operations/prepare_arxiv.py
  src/rxiv_maker/validators/figure_validator.py
Due: lazydocs-generate

chore: bump version to 1.7.7
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

chore: bump version to 1.7.7 (#167)
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

feat: implement underlined text formatting support
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/text_formatters.py
  tests/unit/test_text_formatters.py
Due: lazydocs-generate, validate-documentation

feat: implement underlined text formatting with comprehensive improvements and test fixes
  .github/workflows/cross-repository-health-monitor.yml
  .github/workflows/gemini-scheduled-triage.yml
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  src/rxiv_maker/converters/text_formatters.py
  tests/e2e/test_dummy_manuscript_generator.py
  tests/e2e/test_figure_workflow_validation.py
  tests/regression/test_google_colab_integration.py
  tests/regression/test_path_resolution.py
  tests/unit/test_text_formatters.py
Due: lazydocs-generate, validate-documentation

chore: bump version to 1.7.8
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

feat: implement underlined text formatting support (#168)
  .github/workflows/cross-repository-health-monitor.yml
  .github/workflows/gemini-scheduled-triage.yml
  CHANGELOG.md
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/text_formatters.py
  tests/e2e/test_dummy_manuscript_generator.py
  tests/e2e/test_figure_workflow_validation.py
  tests/regression/test_google_colab_integration.py
  tests/regression/test_path_resolution.py
  tests/unit/test_text_formatters.py
Due: lazydocs-generate, validate-documentation

fix: resolve workflow failures and documentation issues
  .github/scripts/common/config.py
  .github/scripts/release/orchestrator.py
  CHANGELOG.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  MANUSCRIPT/03_REFERENCES.bib
  src/docs/api/README.md
  src/docs/api/index.md
Due: validate-documentation

fix: protect figure environments from text formatting corruption
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  src/rxiv_maker/converters/text_formatters.py
Due: lazydocs-generate, validate-documentation

chore: bump version to 1.7.9
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: protect figure environments from text formatting corruption (#170)
  CHANGELOG.md
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/text_formatters.py
Due: lazydocs-generate, validate-documentation

refactor: streamline ecosystem architecture and improve infrastructure
  .github/actions/artifact-management/action.yml
  .github/actions/retry/action.yml
  .github/actions/setup-environment/action.yml
  .github/actions/test-execution/action.yml
  .github/scripts/check-ecosystem-health.sh
  .github/scripts/common/config.py
  .github/scripts/coordinate-release-workflows.sh
  .github/scripts/monitoring/cross_repo_health.py
  .github/scripts/release/orchestrator.py
  .github/tests/scripts/test_comprehensive.py
  .github/tests/scripts/test_orchestrator.py
  .github/workflow-templates/README.md
  .github/workflow-templates/cross-repo-coordination.yml
  .github/workflow-templates/submodule-sync.yml
  .github/workflows/ci.yml
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__system_diagram.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__workflow.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends.pdf
  src/rxiv_maker/cli/commands/figures.py
  src/rxiv_maker/cli/framework.py
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/converters/text_formatters.py
  src/rxiv_maker/core/path_manager.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/prepare_arxiv.py
  tests/integration/test_binary_distribution.py
  tests/system/test_end_to_end.py
  tests/system/test_package_managers.py
Due: lazydocs-generate, validate-documentation

fix: update arxiv command tests to handle new output directory management
  tests/unit/test_arxiv_command.py
Due: none

fix: add critical security enhancements and resolve clean command issues
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/core/path_manager.py
  src/rxiv_maker/engines/operations/cleanup.py
  tests/unit/test_arxiv_command.py
  tests/unit/test_security_features.py
Due: lazydocs-generate

fix: update test expectations for new figure path handling and enhance mermaid error messages
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__workflow.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends.pdf
  src/rxiv_maker/engines/operations/generate_figures.py
  tests/unit/test_figure_processor.py
Due: lazydocs-generate

fix: address PR feedback - fix CI failures and improve documentation
  README.md
  src/rxiv_maker/core/error_codes.py
  src/rxiv_maker/core/managers/execution_manager.py
  tests/unit/test_figure_processor.py
  tests/unit/test_figure_processor_error_handling.py
  tests/unit/test_md2tex.py
Due: lazydocs-generate, validate-documentation

fix: resolve remaining test failures for path security and validation
  tests/unit/test_security_features.py
  tests/unit/test_trailing_slash_regression.py
Due: none

docs: add missing migration guide file
  docs/migration-v1.7.9.md
Due: validate-documentation

chore: bump version to 1.7.10
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

feat: update rxiv-maker citation with new author list
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  MANUSCRIPT/03_REFERENCES.bib
  README.md
  src/rxiv_maker/utils/citation_utils.py
  tests/integration/test_citation_injection.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

fix: resolve broken documentation links
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  src/docs/api/README.md
  src/docs/api/index.md
Due: validate-documentation

feat: adjust table column widths for better layout
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
Due: validate-documentation

bump: version 1.7.10 → 1.7.11
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

feat: update rxiv-maker citation with new author list (#174)
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__workflow.pdf
  MANUSCRIPT/03_REFERENCES.bib
  README.md
  src/docs/api/README.md
  src/docs/api/index.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/integration/test_citation_injection.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

ci(deps): bump actions/create-github-app-token from 2.1.1 to 2.1.4
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

ci: update actions/create-github-app-token to v2.1.4 (#175)
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

refactor: move EXAMPLE_MANUSCRIPT to separate repository
  CHANGELOG.md
  CONTRIBUTING.md
  EXAMPLE_MANUSCRIPT/00_CONFIG.yml
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  EXAMPLE_MANUSCRIPT/03_REFERENCES.bib
  EXAMPLE_MANUSCRIPT/DATA/arxiv_monthly_submissions.csv
  EXAMPLE_MANUSCRIPT/DATA/pubmed_by_year.csv
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__python_snippet.png
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__system_diagram.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__system_diagram.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__workflow.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/Figure__workflow.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.mmd
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__architecture.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth.py
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends.R
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__preprint_trends.pdf
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__vscode_extension.png
  EXAMPLE_MANUSCRIPT/latex-injection.md
  EXAMPLE_MANUSCRIPT/src/__init__.py
  EXAMPLE_MANUSCRIPT/src/py/__init__.py
  EXAMPLE_MANUSCRIPT/src/py/data_processing.py
  EXAMPLE_MANUSCRIPT/src/py/data_updater.py
  EXAMPLE_MANUSCRIPT/src/py/plotting_utils.py
  EXAMPLE_MANUSCRIPT/src/py/statistical_analysis.py
  README.md
  notebooks/rxiv_maker_colab.ipynb
  scripts/generate-track-changes.sh
  scripts/validate_backticks.py
  src/rxiv_maker/cli/framework.py
  src/rxiv_maker/converters/python_executor.py
  src/rxiv_maker/data/tips.yaml
  test-link-report.txt
  tests/integration/test_example_manuscript.py
  tests/unit/test_citation_rendering.py
  tests/unit/test_github_actions_integration.py
  tests/unit/test_security_scanner.py
  tests/unit/test_text_formatters.py
Due: lazydocs-generate, validate-documentation

fix: allow reasonable relative paths while maintaining security
  notebooks/rxiv_maker_colab.ipynb
  src/rxiv_maker/core/path_manager.py
Due: lazydocs-generate

fix: resolve B904 linting error in path_manager.py
  src/rxiv_maker/core/path_manager.py
Due: lazydocs-generate

fix: improve path traversal security while allowing legitimate cases
  src/rxiv_maker/core/path_manager.py
Due: lazydocs-generate

feat: add get-rxiv-preprint command for easy manuscript setup
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/get_rxiv_preprint.py
  src/rxiv_maker/cli/main.py
Due: lazydocs-generate

chore: bump version to 1.8.0 and update changelog
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation
