Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

fix(ci): repair the two link-check failures
  .lycheeignore
  tests/visual/README.md
Due: validate-documentation

fix(ci): allow the review bot to read files
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): pin claude-code-action to last-known-good SHA
  .github/workflows/claude-code-review.yml
Due: none

fix(docx): clean LaTeX escapes in author-date citations (1.22.4)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/utils/accent_character_map.py
  tests/unit/exporters/test_docx_citation_mapper.py
Due: lazydocs-generate, validate-documentation

feat(docx): mark revision changes against a git tag (1.23.0)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/exporters/docx_diff.py
  tests/unit/exporters/test_docx_diff.py
Due: lazydocs-generate, validate-documentation

chore: add Zenodo and citation metadata
  .zenodo.json
  CITATION.cff
Due: none

chore: release 1.23.1 to re-archive in Zenodo
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: correct .zenodo.json licence and grant identifiers (1.23.2)
  .zenodo.json
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix(assets): deepen the logo R from pure red to #B31B1B
  src/logo/logo-rxiv-maker.pdf
  src/logo/logo-rxiv-maker.png
  src/logo/logo-rxiv-maker.svg
Due: none

fix(latex): prevent silent PDF truncation for % in code spans (1.23.3)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/text_formatters.py
  src/rxiv_maker/templates/registry.py
  tests/unit/test_text_formatters.py
Due: lazydocs-generate, validate-documentation

feat: Add section validation warnings for recommended manuscript sections (#275)
  src/rxiv_maker/engines/operations/validate.py
  src/rxiv_maker/validators/section_validator.py
Due: lazydocs-generate

feat: Add figure legend continuation support for long captions (#324)
  docs/figures-guide.md
  src/rxiv_maker/converters/figure_processor.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/unit/test_figure_legend_continuation.py
Due: lazydocs-generate, validate-documentation

fix: render arXiv venue in bibliography entries
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/tex/style/rxiv_maker_style.bst
  tests/unit/test_bst_eprint_venue.py
Due: lazydocs-generate, validate-documentation

fix: render arXiv venue in bibliography entries (#329)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/tex/style/rxiv_maker_style.bst
  tests/unit/test_bst_eprint_venue.py
Due: lazydocs-generate, validate-documentation

chore: untrack CLAUDE.md and point AI instructions at AGENTS.md
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  docs/ECOSYSTEM.md
Due: validate-documentation

fix: track AGENTS.md so the instruction file ships with the repository
  .gitignore
  AGENTS.md
Due: validate-documentation

chore: untrack CLAUDE.md and point AI instructions at AGENTS.md (#330)
  .github/workflows/claude-code-review.yml
  .gitignore
  AGENTS.md
  docs/ECOSYSTEM.md
Due: validate-documentation

Update canonical citation to Journal of Cell Science peer-reviewed article (v1.24.0)
  .zenodo.json
  CHANGELOG.md
  CITATION.cff
  MANUSCRIPT/03_REFERENCES.bib
  README.md
  docs/ECOSYSTEM.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  src/rxiv_maker/validators/citation_validator.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

Exclude 10.1242 DOI prefix from lychee link checker (returns 403 to bots)
  .lycheeignore
Due: none

Update canonical citation to Journal of Cell Science peer-reviewed article (v1.24.0) (#331)
  .lycheeignore
  .zenodo.json
  CHANGELOG.md
  CITATION.cff
  MANUSCRIPT/03_REFERENCES.bib
  README.md
  docs/ECOSYSTEM.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  src/rxiv_maker/validators/citation_validator.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

Fix citation injection crash when bibliography is a dict mapping (v1.24.1)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

Fix citation injection crash when bibliography is a dict mapping (v1.24.1) (#332)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

Keep inline formatting when marking DOCX track changes (v1.24.2)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_diff.py
  tests/unit/test_docx_diff.py
Due: lazydocs-generate, validate-documentation

Keep inline formatting when marking DOCX track changes (v1.24.2) (#333)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_diff.py
  tests/unit/test_docx_diff.py
Due: lazydocs-generate, validate-documentation

Export equations as editable Office Math (v1.24.3)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/unit/test_docx_equations.py
Due: lazydocs-generate, validate-documentation

Export equations as editable Office Math (v1.24.3) (#334)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/unit/test_docx_equations.py
Due: lazydocs-generate, validate-documentation

Declare figure-script dependencies and check them at render time
  CHANGELOG.md
  docs/figures-guide.md
  docs/troubleshooting.md
  src/rxiv_maker/cli/commands/build.py
  src/rxiv_maker/cli/commands/figures.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/config/defaults.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/generate_figures.py
  src/rxiv_maker/utils/figure_dependencies.py
  tests/unit/test_figure_dependencies.py
  tests/unit/test_figure_dependencies_wiring.py
Due: lazydocs-generate, validate-documentation

Release v1.25.0
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Fix typo in v1.25.0 changelog entry
  CHANGELOG.md
Due: validate-documentation

Show figures.dependencies in the rxiv init config template
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

Run figure scripts in a per-manuscript environment; check out submodules (v1.25.1)
  CHANGELOG.md
  docs/figures-guide.md
  docs/troubleshooting.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/build.py
  src/rxiv_maker/cli/commands/figures.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/generate_figures.py
  src/rxiv_maker/utils/figure_dependencies.py
  src/rxiv_maker/utils/git_submodules.py
  tests/unit/test_figure_dependencies.py
  tests/unit/test_figure_dependencies_wiring.py
  tests/unit/test_figure_environment.py
  tests/unit/test_git_submodules.py
Due: lazydocs-generate, validate-documentation
