Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

lazydocs-generate:
  name: Generate API documentation
  entry: python src/rxiv_maker/engines/operations/generate_docs.py
  language: system
  pass_filenames: false

validate-documentation:
  name: ðŸ“‹ Validate Documentation Code Examples
  entry: scripts/check-docs.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

fix(svideo): match figure-caption font; keep block together via needspace+minipage
  CHANGELOG.md
  src/rxiv_maker/converters/supplementary_video_processor.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_supplementary_video_processor.py
Due: lazydocs-generate, validate-documentation

Label supplementary videos as "Sup. Video N" and fix marker blank-line bug
  CHANGELOG.md
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/supplementary_video_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_md2tex.py
  tests/unit/test_supplementary_video_processor.py
Due: lazydocs-generate, validate-documentation

test: bump changelog fixtures to current version (1.20.x)
  tests/cli/test_changelog_command.py
Due: none

fix(svideo): Sup. Video label, caption font, keep-together, marker blank-line fix — 1.20.1 (#302)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/supplementary_video_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/tex/style/rxiv_maker_style.cls
  tests/cli/test_changelog_command.py
  tests/unit/test_md2tex.py
  tests/unit/test_supplementary_video_processor.py
Due: lazydocs-generate, validate-documentation

fix(biorxiv): emit all affiliations and support inline-affiliation configs
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  tests/unit/test_prepare_biorxiv.py
Due: lazydocs-generate

fix(biorxiv): emit all affiliations and support inline-affiliation configs (#303)
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  tests/unit/test_prepare_biorxiv.py
Due: lazydocs-generate

docs: add CHANGELOG entry for 1.20.2 (biorxiv TSV affiliations fix)
  CHANGELOG.md
Due: validate-documentation

docs: add CHANGELOG entry for 1.20.2 (biorxiv TSV affiliations fix) (#304)
  CHANGELOG.md
Due: validate-documentation

chore: bump version to 1.20.2
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

chore: bump version to 1.20.2 (#305)
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

adding --split-si functionality to rxiv-maker
  docs/cli-reference.md
  docs/user_guide.md
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/exporters/docx_exporter.py
  tests/cli/test_docx.py
  tests/integration/test_docx_export_integration.py
Due: lazydocs-generate, validate-documentation

test(docx): make split-si patch targets resolve on Python 3.10
  tests/cli/test_docx.py
Due: none

adding --split-si functionality to rxiv-maker (#306)
  docs/cli-reference.md
  docs/user_guide.md
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/exporters/docx_exporter.py
  tests/cli/test_docx.py
  tests/integration/test_docx_export_integration.py
Due: lazydocs-generate, validate-documentation

fix(test): make changelog default test robust to version bumps; release 1.20.3
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  tests/cli/test_changelog_command.py
Due: lazydocs-generate, validate-documentation

fix(test): make changelog default test robust to version bumps; release 1.20.3 (#307)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  tests/cli/test_changelog_command.py
Due: lazydocs-generate, validate-documentation

docs(changelog): document --split-si DOCX options under 1.20.3
  CHANGELOG.md
Due: validate-documentation

docs(changelog): document --split-si DOCX options under 1.20.3 (#308)
  CHANGELOG.md
Due: validate-documentation

fix(tables): preserve underscores in author-date citation keys in table cells
  src/rxiv_maker/converters/table_processor.py
  tests/unit/test_table_citation_underscore.py
Due: lazydocs-generate

fix(output): transliterate accented author names in PDF/DOCX filenames
  src/rxiv_maker/utils/pdf_utils.py
  tests/unit/test_utils.py
Due: lazydocs-generate

chore(release): 1.20.4
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release 1.20.4: table-cell citation underscores + accented filename transliteration (#309)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/table_processor.py
  src/rxiv_maker/utils/pdf_utils.py
  tests/unit/test_table_citation_underscore.py
  tests/unit/test_utils.py
Due: lazydocs-generate, validate-documentation

feat(docx): render {{tex}} tables as images; fix SI table captions and numbering — release 1.21.0
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/markdown_preprocessor.py
  src/rxiv_maker/utils/label_extractor.py
  tests/integration/test_docx_tex_table_render.py
  tests/unit/test_docx_tex_tables.py
Due: lazydocs-generate, validate-documentation

fix(docx): render tex-table caption below the image and keep them together
  CHANGELOG.md
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/unit/test_docx_tex_tables.py
Due: lazydocs-generate, validate-documentation

feat(docx): resolve the full numeric \cite family inside tex tables
  CHANGELOG.md
  src/rxiv_maker/exporters/docx_content_processor.py
  tests/unit/test_docx_tex_tables.py
Due: lazydocs-generate, validate-documentation

feat(docx): --tables-as-images to render all tables as images (one consistent style)
  CHANGELOG.md
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  tests/unit/test_docx_tex_tables.py
Due: lazydocs-generate, validate-documentation

docs: document tex-table image rendering and --tables-as-images
  docs/cli-reference.md
  docs/user_guide.md
Due: validate-documentation

feat(docx): render {{tex}} tables as images; fix SI table captions & numbering (1.21.0) (#310)
  CHANGELOG.md
  docs/cli-reference.md
  docs/user_guide.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/markdown_preprocessor.py
  src/rxiv_maker/utils/label_extractor.py
  tests/integration/test_docx_tex_table_render.py
  tests/unit/test_docx_tex_tables.py
Due: lazydocs-generate, validate-documentation

feat(pdf): separate main/SI references (each from 1) for --split-si — release 1.22.0
  CHANGELOG.md
  docs/cli-reference.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/generate_preprint.py
  src/rxiv_maker/processors/template_processor.py
  src/tex/template.tex
  tests/unit/test_generate_preprint.py
  tests/unit/test_split_si_bibliography.py
Due: lazydocs-generate, validate-documentation

feat(docx): --split-si-pdf SI PDF also gets its own references (centralize split_si)
  CHANGELOG.md
  src/rxiv_maker/cli/commands/docx.py
Due: lazydocs-generate, validate-documentation

feat(pdf): omit Supplementary References when the SI has no citations
  CHANGELOG.md
  src/rxiv_maker/processors/template_processor.py
  tests/unit/test_split_si_bibliography.py
Due: lazydocs-generate, validate-documentation

feat(pdf): separate main/SI references (each from 1) for --split-si (1.22.0) (#311)
  CHANGELOG.md
  docs/cli-reference.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/generate_preprint.py
  src/rxiv_maker/processors/template_processor.py
  src/tex/template.tex
  tests/unit/test_generate_preprint.py
  tests/unit/test_split_si_bibliography.py
Due: lazydocs-generate, validate-documentation

docs: make website canonical, slim duplicated repo docs
  README.md
  docs/TROUBLESHOOTING_MATRIX.md
  docs/citations-and-dois.md
  docs/cli-reference.md
  docs/common-issues.md
  docs/first-manuscript.md
  docs/index.md
  docs/installation.md
  docs/python-execution-guide.md
  docs/rxiv-markdown.md
  docs/troubleshooting.md
  docs/user_guide.md
  docs/writing-guide.md
Due: validate-documentation

docs: drop em-dashes and a contrastive from the doc pointers
  docs/index.md
  docs/python-execution-guide.md
  docs/rxiv-markdown.md
  docs/troubleshooting.md
  docs/user_guide.md
  docs/writing-guide.md
Due: validate-documentation

docs: make website canonical, remove duplicated repo docs (#312)
  README.md
  docs/TROUBLESHOOTING_MATRIX.md
  docs/citations-and-dois.md
  docs/cli-reference.md
  docs/common-issues.md
  docs/first-manuscript.md
  docs/index.md
  docs/installation.md
  docs/python-execution-guide.md
  docs/rxiv-markdown.md
  docs/troubleshooting.md
  docs/user_guide.md
  docs/writing-guide.md
Due: validate-documentation

fix: correct Guillaume Jacquemet spelling in injected rxiv-maker citation (v1.22.1)
  CHANGELOG.md
  MANUSCRIPT/03_REFERENCES.bib
  README.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/integration/test_citation_injection.py
  tests/unit/test_citation_utils.py
Due: lazydocs-generate, validate-documentation

chore: ignore local worktrees
  .gitignore
Due: none

fix: refresh rxiv-maker citation authors
  CHANGELOG.md
  MANUSCRIPT/03_REFERENCES.bib
  README.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/utils/citation_utils.py
  tests/integration/test_citation_injection.py
Due: lazydocs-generate, validate-documentation

test: cover current rxiv-maker citation authors
  tests/unit/test_citation_utils.py
Due: none

fix(docx): honour citation_style and protect code spans (1.22.3)
  .pre-commit-config.yaml
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/unit/exporters/test_docx_citation_mapper.py
Due: lazydocs-generate, validate-documentation

style: format Python block in tests/fixtures/README.md
  tests/fixtures/README.md
Due: validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$
