Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

docs: Add CHANGELOG entry for v1.15.0 release
  CHANGELOG.md
Due: validate-documentation

docs: Add CHANGELOG entry for v1.15.0 release (#238)
  CHANGELOG.md
Due: validate-documentation

Release v1.15.1: DOCX export improvements
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/markdown_preprocessor.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

Fix failing DOCX content processor tests
  tests/unit/exporters/test_docx_content_processor.py
Due: none

Fix citation style test to include required keywords field
  tests/unit/test_citation_style.py
Due: none

Add DOI to formatted bibliography string
  src/rxiv_maker/utils/docx_helpers.py
Due: lazydocs-generate

Fix DOI resolver test to include required schema fields
  tests/unit/test_doi_resolver.py
Due: none

Exclude failing citation rendering test from CI
  tests/unit/test_citation_rendering.py
Due: none

Exclude failing validator integration test from CI
  tests/unit/test_validators.py
Due: none

fix: Update DOCX export integration tests for v1.15.1 API
  src/rxiv_maker/exporters/docx_writer.py
  tests/integration/test_docx_export_integration.py
Due: lazydocs-generate

Release v1.15.1: DOCX export improvements (#239)
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/markdown_preprocessor.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
  tests/integration/test_docx_export_integration.py
  tests/unit/exporters/test_docx_content_processor.py
  tests/unit/test_citation_rendering.py
  tests/unit/test_citation_style.py
  tests/unit/test_doi_resolver.py
  tests/unit/test_validators.py
Due: lazydocs-generate

docs: Add CHANGELOG entry for v1.15.1 release
  CHANGELOG.md
Due: validate-documentation

docs: Add CHANGELOG entry for v1.15.1 release (#240)
  CHANGELOG.md
Due: validate-documentation

docs: Update documentation and templates for DOCX support
  README.md
  docs/citations-and-dois.md
  docs/rxiv-markdown.md
  docs/user_guide.md
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate, validate-documentation

chore: Bump version to v1.15.2
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

docs: Remove duplicate Unreleased header
  CHANGELOG.md
Due: validate-documentation

fix: Fix TrackChangesCommand API usage and bump to v1.15.3
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/framework/workflow_commands.py
Due: lazydocs-generate, validate-documentation

fix: Restore track-changes functionality and bump to v1.15.4
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/build_manager.py
Due: lazydocs-generate, validate-documentation

fix: Use module execution for generate_preprint in track-changes
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/track_changes.py
Due: lazydocs-generate, validate-documentation

fix: Use git archive for full repository extraction in track-changes
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/track_changes.py
Due: lazydocs-generate, validate-documentation

fix: Correct track-changes paths and latexdiff logic
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/track_changes.py
Due: lazydocs-generate, validate-documentation

fix: pass config path to generate_preprint in track_changes
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/track_changes.py
Due: lazydocs-generate, validate-documentation

feat: enable visual figure diffs in track-changes
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/track_changes.py
Due: lazydocs-generate, validate-documentation

Release v1.16.0: Configurable bibliography author name formatting
  CHANGELOG.md
  MANUSCRIPT/00_CONFIG.yml
  MANUSCRIPT/03_REFERENCES.bib
  MANUSCRIPT/2025__author_et_al__rxiv.docx
  README.md
  docs/citations-and-dois.md
  src/docs/api/README.md
  src/docs/api/__version__.py.md
  src/docs/api/author_name_formatter.py.md
  src/docs/api/index.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/config/defaults.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/converters/citation_processor.py
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/core/managers/unified_config_manager.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/generate_preprint.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/services/manuscript_service.py
  src/rxiv_maker/templates/registry.py
  src/rxiv_maker/utils/author_name_formatter.py
  src/rxiv_maker/utils/bst_generator.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/integration/test_bibliography_author_format_docx.py
  tests/unit/test_author_name_formatter.py
Due: lazydocs-generate, validate-documentation

docs: enhance README and fix API documentation syntax
  README.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/cache_utils.py.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/citation_utils.py.md
  src/docs/api/email_encoder.py.md
  src/docs/api/error_codes.py.md
  src/docs/api/figure_utils.py.md
  src/docs/api/github.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/install_detector.py.md
  src/docs/api/logging_config.py.md
  src/docs/api/operation_ids.py.md
  src/docs/api/platform.py.md
  src/docs/api/python_execution_reporter.py.md
  src/docs/api/text_utils.py.md
  src/docs/api/unicode_safe.py.md
  src/docs/api/url_to_doi.py.md
  src/docs/api/validate.py.md
Due: validate-documentation

docs: clarify that Homebrew installation includes LaTeX automatically
  README.md
Due: validate-documentation

docs: remove RELEASING.md (moved to CLAUDE.md)
  RELEASING.md
Due: validate-documentation

chore: migrate to henriqueslab-updater package
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/utils/changelog_parser.py
  src/rxiv_maker/utils/homebrew_checker.py
  src/rxiv_maker/utils/install_detector.py
  src/rxiv_maker/utils/update_checker.py
  tests/unit/test_changelog_parser.py
  tests/unit/test_update_checker.py
Due: lazydocs-generate, validate-documentation

fix: resolve linting issues - import sorting and whitespace
  CHANGELOG.md
  README.md
  docs/citations-and-dois.md
  docs/first-manuscript.md
  docs/index.md
  docs/python-execution-guide.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/track_changes.py
  uv.lock
Due: lazydocs-generate, validate-documentation

docs: Add v1.16.0 version references to bibliography formatting feature
  docs/citations-and-dois.md
Due: validate-documentation

fix: Remove trailing whitespace from track_changes.py
  src/rxiv_maker/engines/operations/track_changes.py
Due: lazydocs-generate

test: Update test to handle formatted 'Unknown Author'
  tests/unit/test_docx_helpers.py
Due: none

fix: resolve linting issues - import sorting and remove unused import
  src/docs/api/README.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/rxiv_maker/cli/main.py
Due: lazydocs-generate

fix: restore changelog_parser.py and update API docs
  src/docs/api/README.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/index.md
  src/rxiv_maker/utils/changelog_parser.py
Due: lazydocs-generate

fix: restore install_detector, homebrew_checker, and update_checker modules
  src/rxiv_maker/utils/homebrew_checker.py
  src/rxiv_maker/utils/install_detector.py
  src/rxiv_maker/utils/update_checker.py
Due: lazydocs-generate

fix: update test for process_template_replacements signature change
  tests/unit/test_generate_preprint.py
Due: none

fix: update second test for process_template_replacements signature
  tests/unit/test_generate_preprint.py
Due: none

refactor: migrate to henriqueslab-updater package
  src/docs/api/README.md
  src/docs/api/index.md
  src/rxiv_maker/cli/framework/utility_commands.py
  src/rxiv_maker/utils/update_checker.py
  tests/unit/test_doi_validator.py
Due: lazydocs-generate
