Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

fix: Exclude code blocks from heading validation
  src/rxiv_maker/validators/syntax_validator.py
Due: lazydocs-generate

Release v1.16.6: Improve validation and error messaging
  .gitignore
  CHANGELOG.md
  DOCUMENTATION_IMPROVEMENTS.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.16.6: Improve validation and error messaging (#264)
  .gitignore
  CHANGELOG.md
  DOCUMENTATION_IMPROVEMENTS.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/framework/utility_commands.py
  src/rxiv_maker/engines/operations/generate_figures.py
  src/rxiv_maker/validators/syntax_validator.py
Due: lazydocs-generate, validate-documentation

docs: Add CLAUDE.md project instructions to repository
  CLAUDE.md
Due: validate-documentation

fix: Properly configure .gitignore for CLAUDE.md tracking
  .gitignore
Due: none

docs: Add CLAUDE.md project instructions (#265)
  .gitignore
  CLAUDE.md
Due: validate-documentation

Release v1.16.7: Centralize upgrade workflow with henriqueslab-updater
  CHANGELOG.md
  CLAUDE.md
  README.md
  pyproject.toml
  src/docs/api/README.md
  src/docs/api/__version__.py.md
  src/docs/api/author_name_formatter.py.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/cache_utils.py.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/citation_utils.py.md
  src/docs/api/email_encoder.py.md
  src/docs/api/error_codes.py.md
  src/docs/api/figure_utils.py.md
  src/docs/api/github.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/docs/api/logging_config.py.md
  src/docs/api/operation_ids.py.md
  src/docs/api/platform.py.md
  src/docs/api/python_execution_reporter.py.md
  src/docs/api/text_utils.py.md
  src/docs/api/unicode_safe.py.md
  src/docs/api/url_to_doi.py.md
  src/docs/api/validate.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/utils/rich_upgrade_notifier.py
  tests/unit/test_rich_upgrade_notifier.py
  tests/unit/test_upgrade_command.py
  uv.lock
Due: lazydocs-generate, validate-documentation

fix: Remove broken relative link to PythonRepoMaster in CLAUDE.md
  CLAUDE.md
Due: validate-documentation

Release v1.16.7: Centralize upgrade workflow with henriqueslab-updater (#266)
  CHANGELOG.md
  CLAUDE.md
  README.md
  pyproject.toml
  src/docs/api/README.md
  src/docs/api/__version__.py.md
  src/docs/api/author_name_formatter.py.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/cache_utils.py.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/citation_utils.py.md
  src/docs/api/email_encoder.py.md
  src/docs/api/error_codes.py.md
  src/docs/api/figure_utils.py.md
  src/docs/api/github.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/docs/api/logging_config.py.md
  src/docs/api/operation_ids.py.md
  src/docs/api/platform.py.md
  src/docs/api/python_execution_reporter.py.md
  src/docs/api/text_utils.py.md
  src/docs/api/unicode_safe.py.md
  src/docs/api/url_to_doi.py.md
  src/docs/api/validate.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/utils/rich_upgrade_notifier.py
  tests/unit/test_rich_upgrade_notifier.py
  tests/unit/test_upgrade_command.py
  uv.lock
Due: lazydocs-generate, validate-documentation

Release v1.16.8: Fix BST regex, add poppler support, implement DOI resolution
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/core/managers/dependency_manager.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/bst_generator.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/unit/test_bst_generator.py
  tests/unit/test_dependency_package_names.py
  tests/unit/test_docx_doi_resolution.py
Due: lazydocs-generate, validate-documentation

Release v1.16.8: Fix BST regex, add poppler support, implement DOI resolution (#267)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/docx.py
  src/rxiv_maker/core/managers/dependency_manager.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/bst_generator.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/unit/test_bst_generator.py
  tests/unit/test_dependency_package_names.py
  tests/unit/test_docx_doi_resolution.py
Due: lazydocs-generate, validate-documentation

fix: Correct citation extraction order to handle triple-backtick code blocks
  src/rxiv_maker/converters/citation_processor.py
  tests/unit/test_citation_processor.py
Due: lazydocs-generate

feat: Optimize global manuscript spacing for increased content density
  src/rxiv_maker/templates/registry.py
  src/tex/style/rxiv_maker_style.cls
Due: lazydocs-generate

feat: Tighten spacing between back matter section headers and text
  src/tex/style/rxiv_maker_style.cls
Due: none

fix: Add figure numbering to DOCX captions with proper main/supplementary distinction
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: Add comment highlighting and improve figure sizing in DOCX export
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: Fix DOCX table numbering, add validation, and format citation ranges
  CLAUDE.md
  pyproject.toml
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate, validate-documentation

feat: Add distinct highlight colors for different reference types in DOCX
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: Add subscript/superscript support and fix multi-line comment parsing in DOCX
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: Filter out metadata comments from DOCX exports
  src/rxiv_maker/exporters/docx_content_processor.py
Due: lazydocs-generate

feat: Use lighter colors for supplementary refs and add inline comment parsing
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

fix: Format 2-number sequences as ranges instead of comma-separated
  src/rxiv_maker/exporters/docx_citation_mapper.py
Due: lazydocs-generate

feat: Major DOCX export improvements and configuration enhancements
  MANUSCRIPT/00_CONFIG.yml
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/docx_helpers.py
Due: lazydocs-generate

fix: Improve bibliography formatting for malformed BibTeX entries
  src/rxiv_maker/utils/docx_helpers.py
Due: lazydocs-generate

feat: Add PDF splitting feature with --split-si flag
  src/rxiv_maker/cli/commands/build.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/utils/pdf_splitter.py
Due: lazydocs-generate

fix: Copy split PDFs to MANUSCRIPT directory with proper naming
  src/rxiv_maker/cli/framework/workflow_commands.py
Due: lazydocs-generate

fix: Update test to handle citation range formatting
  tests/unit/exporters/test_docx_citation_mapper.py
Due: none

fix: Update citation test to match new yellow-highlight behavior
  tests/unit/exporters/test_docx_content_processor.py
Due: none

fix: Update multiple citations test for yellow-highlight behavior
  tests/unit/exporters/test_docx_content_processor.py
Due: none

fix: Update tests for bibliography whitespace normalization
  tests/unit/test_docx_helpers.py
Due: none

fix: Update track_changes tests for new implementation
  tests/unit/test_track_changes.py
Due: none

fix: Increase memory threshold for Python 3.14+ environments
  tests/unit/test_importlib_edge_cases.py
Due: none

feat: Major DOCX export enhancements (#270)
  CLAUDE.md
  MANUSCRIPT/00_CONFIG.yml
  pyproject.toml
  src/rxiv_maker/cli/commands/build.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/converters/citation_processor.py
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/templates/registry.py
  src/rxiv_maker/utils/docx_helpers.py
  src/rxiv_maker/utils/pdf_splitter.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/exporters/test_docx_citation_mapper.py
  tests/unit/exporters/test_docx_content_processor.py
  tests/unit/test_citation_processor.py
  tests/unit/test_docx_helpers.py
  tests/unit/test_importlib_edge_cases.py
  tests/unit/test_track_changes.py
Due: lazydocs-generate, validate-documentation

chore: bump version to v1.17.0
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

test: update changelog fixture for v1.17.0
  tests/cli/test_changelog_command.py
Due: none

test: fix changelog tests for v1.17.0 version range
  tests/cli/test_changelog_command.py
Due: none

Release v1.17.0: Version bump and changelog update
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  tests/cli/test_changelog_command.py
Due: lazydocs-generate, validate-documentation

fix: add corresponding author indication to DOCX export
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: add hide_highlighting config option for DOCX export
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

fix: adjust DOCX font sizes for better consistency
  src/rxiv_maker/exporters/docx_writer.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate
