Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

feat: add get-rxiv-preprint command for easy manuscript setup (#177)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/get_rxiv_preprint.py
  src/rxiv_maker/cli/main.py
Due: lazydocs-generate, validate-documentation

fix: update PyPI metadata and logo URL
  README.md
  pyproject.toml
Due: validate-documentation

fix: update PyPI metadata and logo URL (#178)
  README.md
  pyproject.toml
Due: validate-documentation

chore: bump version to v1.8.1
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

chore: release v1.8.1 - PyPI logo and metadata fixes (#179)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: correct pyproject.toml structure for dependencies
  pyproject.toml
Due: none

chore: bump version to v1.8.2
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

chore: release v1.8.2 - Fix PyPI build and publish logo improvements (#180)
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: correct pyproject.toml structure for v1.8.3 release
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: release v1.8.3 - Fix PyPI build configuration (#181)
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: recursive figure directory copying for v1.8.4 release
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/core/path_manager.py
Due: lazydocs-generate, validate-documentation

fix: release v1.8.4 - Recursive figure directory copying (#182)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/core/path_manager.py
Due: lazydocs-generate, validate-documentation

fix: release orchestrator should publish to PyPI even if GitHub release exists
  .github/scripts/release/orchestrator.py
Due: none

fix: release orchestrator should publish to PyPI even if GitHub release exists (#184)
  .github/scripts/release/orchestrator.py
Due: none

chore: disable scheduled documentation link check until script is fixed
  .github/workflows/docs-link-check.yml
Due: none

chore: disable scheduled documentation link check (#185)
  .github/workflows/docs-link-check.yml
Due: none

chore: remove documentation link check workflow
  .github/workflows/docs-link-check.yml
Due: none

chore: remove documentation link check workflow (#186)
  .github/workflows/docs-link-check.yml
Due: none

fix: correct upgrade instructions and bump to 1.8.5
  src/docs/api/README.md
  src/docs/api/citation_utils.py.md
  src/docs/api/index.md
  src/docs/api/logging.py.md
  src/docs/api/progress.py.md
  src/docs/api/retry.py.md
  src/docs/api/secure_cache_utils.py.md
  src/docs/api/verification.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/version.py
  src/rxiv_maker/cli/framework.py
  src/rxiv_maker/utils/update_checker.py
Due: lazydocs-generate

refactor: remove deprecated Docker-based CI reproduction system
  Makefile
  ci/Dockerfile.ci
  ci/README.md
  ci/docker-compose.ci.yml
  scripts/run-ci-locally.sh
Due: validate-documentation

refactor: comprehensive cleanup - remove deprecated Docker infrastructure and clutter
  .env
  .gitignore
  MANIFEST.in
  Makefile
  scripts/benchmark-docker-build.sh
  scripts/build-accelerated.sh
  scripts/setup-squid-deb-proxy.sh
  scripts/test-homebrew-workflow.sh
  test-link-report.txt
Due: none

refactor: remove deprecated Docker infrastructure and comprehensive cleanup (#190)
  .env
  .gitignore
  MANIFEST.in
  Makefile
  ci/Dockerfile.ci
  ci/README.md
  ci/docker-compose.ci.yml
  scripts/benchmark-docker-build.sh
  scripts/build-accelerated.sh
  scripts/run-ci-locally.sh
  scripts/setup-squid-deb-proxy.sh
  scripts/test-homebrew-workflow.sh
  test-link-report.txt
Due: validate-documentation

docs: feature rxiv get-rxiv-preprint command in README
  README.md
Due: validate-documentation

docs: feature rxiv get-rxiv-preprint command in README (#191)
  README.md
Due: validate-documentation

fix: exclude closing parenthesis from bare URL regex
  src/rxiv_maker/converters/url_processor.py
  tests/unit/test_md2tex.py
Due: lazydocs-generate

fix: exclude closing parenthesis from bare URL regex (#192)
  src/rxiv_maker/converters/url_processor.py
  tests/unit/test_md2tex.py
Due: lazydocs-generate

chore: bump version to 1.8.6
  src/docs/api/README.md
  src/docs/api/index.md
  src/docs/api/logging.py.md
  src/docs/api/progress.py.md
  src/docs/api/retry.py.md
  src/docs/api/secure_cache_utils.py.md
  src/docs/api/verification.py.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

chore: bump version to 1.8.6 (#193)
  src/docs/api/README.md
  src/docs/api/index.md
  src/docs/api/logging.py.md
  src/docs/api/progress.py.md
  src/docs/api/retry.py.md
  src/docs/api/secure_cache_utils.py.md
  src/docs/api/verification.py.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

fix: exclude Dependabot PRs from AI review workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/gemini-dispatch.yml
Due: none

fix: exclude Dependabot PRs from AI review workflows (#195)
  .github/workflows/claude-code-review.yml
  .github/workflows/gemini-dispatch.yml
Due: none

docs: convert repo docs to redirect stubs for website
  docs/first-manuscript.md
  docs/installation.md
Due: validate-documentation

docs(readme): enhance cross-repo navigation and ecosystem clarity
  README.md
Due: validate-documentation

docs: add comprehensive documentation improvements summary
  DOCUMENTATION_IMPROVEMENTS.md
Due: validate-documentation

docs: add CHANGELOG entry for documentation improvements
  CHANGELOG.md
Due: validate-documentation

docs: comprehensive documentation review and improvements
  CHANGELOG.md
  DOCUMENTATION_IMPROVEMENTS.md
  README.md
  docs/first-manuscript.md
  docs/installation.md
Due: validate-documentation

docs: add CHANGELOG entry for v1.8.6
  CHANGELOG.md
Due: validate-documentation

test: add comprehensive unit tests for CHANGELOG validation
  .github/scripts/release/orchestrator.py
  tests/unit/test_release_orchestrator.py
Due: none

feat: add CHANGELOG validation to release workflow
  .github/scripts/release/orchestrator.py
Due: none

feat: add CHANGELOG validation to release workflow
  .github/scripts/release/orchestrator.py
  tests/unit/test_release_orchestrator.py
Due: none
