Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

Release v1.18.4: Documentation alignment and security fixes
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.18.4: Documentation alignment and security fixes (#283)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: add proper spacing between section headers and content
  src/rxiv_maker/processors/template_processor.py
Due: lazydocs-generate

Release v1.18.5: Section spacing fix
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.18.5: Section spacing fix (#284)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/processors/template_processor.py
Due: lazydocs-generate, validate-documentation

style: fix ruff 0.15.0 formatting in content_processor.py
  src/rxiv_maker/core/content_processor.py
Due: lazydocs-generate

style: fix ruff 0.15.0 formatting in content_processor.py (#285)
  src/rxiv_maker/core/content_processor.py
Due: lazydocs-generate

test: increase timeouts for repository CLI integration tests
  tests/integration/test_repository_cli_integration.py
Due: none

test: increase timeouts for repository CLI integration tests (#286)
  tests/integration/test_repository_cli_integration.py
Due: none

test: skip flaky repository CLI test blocking release
  tests/integration/test_repository_cli_integration.py
Due: none

test: skip flaky repository CLI test blocking release (#287)
  tests/integration/test_repository_cli_integration.py
Due: none

test: update changelog fixture for v1.18.5
  tests/cli/test_changelog_command.py
Due: none

test: update changelog fixture for v1.18.5 (#288)
  tests/cli/test_changelog_command.py
Due: none

test: skip changelog tests to unblock v1.18.5 release
  tests/cli/test_changelog_command.py
Due: none

test: skip changelog tests to unblock v1.18.5 release (#289)
  tests/cli/test_changelog_command.py
Due: none

test: fix changelog test fixtures for v1.18.5
  tests/cli/test_changelog_command.py
Due: none

test: fix changelog test fixtures for v1.18.5 (#290)
  tests/cli/test_changelog_command.py
Due: none

feat: add bioRxiv submission package command (v1.19.0)
  .gitignore
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/biorxiv.py
  src/rxiv_maker/cli/framework/base.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  tests/unit/test_biorxiv_command.py
  tests/unit/test_prepare_biorxiv.py
Due: lazydocs-generate, validate-documentation

feat: add bioRxiv submission package command (v1.19.0) (#291)
  .gitignore
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/biorxiv.py
  src/rxiv_maker/cli/framework/base.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  tests/unit/test_biorxiv_command.py
  tests/unit/test_prepare_biorxiv.py
Due: lazydocs-generate, validate-documentation

fix: resolve title spacing and Lithuanian character encoding issues
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  src/tex/template.tex
  tests/unit/test_prepare_biorxiv.py
Due: lazydocs-generate

fix: add newlines after section headers in LaTeX output
  src/rxiv_maker/converters/md2tex.py
  src/tex/template.tex
Due: lazydocs-generate

fix: increase spacing after subsubsection titles from 1pt to 8pt
  src/tex/style/rxiv_maker_style.cls
Due: none

fix: use \enskip for proper space after subsubsection titles
  src/tex/style/rxiv_maker_style.cls
Due: none

chore: bump version to 1.19.1
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.19.1: Fix character encoding and section spacing (#292)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_prepare_biorxiv.py
Due: lazydocs-generate, validate-documentation

fix: use named HTML entities for Lithuanian characters
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  tests/unit/test_prepare_biorxiv.py
  uv.lock
Due: lazydocs-generate

chore: bump version to 1.19.2
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: increase subsubsection spacing from \enskip to \quad
  src/tex/style/rxiv_maker_style.cls
Due: none

docs: update changelog for v1.19.2
  CHANGELOG.md
Due: validate-documentation

Release v1.19.2: Enhanced character encoding and spacing (#293)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/prepare_biorxiv.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_prepare_biorxiv.py
  uv.lock
Due: lazydocs-generate, validate-documentation

fix: Windows compatibility - Unicode encoding crash and file locking
  notebooks/rxiv_maker_colab.ipynb
  src/rxiv_maker/cli/commands/changelog.py
  src/rxiv_maker/cli/commands/figures.py
  src/rxiv_maker/cli/commands/get_rxiv_preprint.py
  src/rxiv_maker/cli/commands/version.py
  src/rxiv_maker/cli/framework/base.py
  src/rxiv_maker/cli/framework/cache_commands.py
  src/rxiv_maker/cli/framework/config_commands.py
  src/rxiv_maker/cli/framework/content_commands.py
  src/rxiv_maker/cli/framework/decorators.py
  src/rxiv_maker/cli/framework/utility_commands.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/core/logging_config.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/cleanup.py
  src/rxiv_maker/engines/operations/fix_bibliography.py
  src/rxiv_maker/engines/operations/generate_docs.py
  src/rxiv_maker/engines/operations/generate_figures.py
  src/rxiv_maker/engines/operations/prepare_arxiv.py
  src/rxiv_maker/engines/operations/setup_environment.py
  src/rxiv_maker/engines/operations/track_changes.py
  src/rxiv_maker/engines/operations/validate.py
  src/rxiv_maker/install/utils/progress.py
  src/rxiv_maker/services/validation_service.py
  src/rxiv_maker/utils/citation_utils.py
  src/rxiv_maker/utils/dependency_checker.py
  src/rxiv_maker/utils/rich_upgrade_notifier.py
Due: lazydocs-generate

fix: CI build failure and changelog test fixture
  noxfile.py
  tests/cli/test_changelog_command.py
Due: none

fix: update --since test to use latest fixture version
  tests/cli/test_changelog_command.py
Due: none

docs: strip README to essentials (373 → 98 lines)
  README.md
Due: validate-documentation

docs: add publications table to README
  README.md
Due: validate-documentation

fix: use DOI links for bioRxiv papers (avoid 403 in link checker)
  README.md
Due: validate-documentation

feat: supplementary videos (svideo) with linked, numbered captions
  CHANGELOG.md
  src/rxiv_maker/converters/citation_processor.py
  src/rxiv_maker/converters/md2tex.py
  src/rxiv_maker/converters/supplementary_video_processor.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/label_extractor.py
  src/rxiv_maker/validators/citation_validator.py
  src/rxiv_maker/validators/reference_validator.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_supplementary_video_processor.py
Due: lazydocs-generate, validate-documentation

feat(svideo): make the still image a clickable link; release 1.20.0
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/supplementary_video_processor.py
  tests/unit/test_supplementary_video_processor.py
Due: lazydocs-generate, validate-documentation

style: ruff-format svideo test file
  tests/unit/test_supplementary_video_processor.py
Due: none

fix(svideo): emit the still+caption as a float to avoid page splits/overflow
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/supplementary_video_processor.py
  tests/unit/test_supplementary_video_processor.py
Due: lazydocs-generate, validate-documentation
