Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-submodules, check-repo-boundaries

lazydocs-generate:
  name: Generate API documentation
  entry: python src/rxiv_maker/engine/generate_docs.py
  language: system
  pass_filenames: false

validate-submodules:
  name: Validate submodule integrity
  entry: scripts/safeguards/validate-submodules.sh
  language: system
  pass_filenames: false

check-repo-boundaries:
  name: Check repository boundaries
  entry: python scripts/safeguards/check-repo-boundaries.py
  language: system
  pass_filenames: false

🚀 feat: implement complete Docker build acceleration system (90-95% speedup)
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  CHANGELOG.md
  DOCKER_ACCELERATION.md
  docs/api/README.md
  docs/api/index.md
  noxfile.py
  pyproject.toml
  scripts/benchmark-docker-build.sh
  scripts/build-accelerated.sh
  scripts/optimize-github-actions.sh
  scripts/setup-squid-deb-proxy.sh
  src/docker/images/base/Dockerfile
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/docker/manager.py
  src/rxiv_maker/engines/abstract.py
  src/rxiv_maker/engines/docker_engine.py
  src/rxiv_maker/engines/factory.py
  src/rxiv_maker/engines/podman_engine.py
  src/rxiv_maker/utils/advanced_cache.py
  src/rxiv_maker/utils/dependency_checker.py
  src/rxiv_maker/utils/doi_cache.py
  src/rxiv_maker/utils/unicode_safe.py
  src/rxiv_maker/validators/citation_validator.py
  src/rxiv_maker/validators/doi/__init__.py
  src/rxiv_maker/validators/doi/api_clients.py
  src/rxiv_maker/validators/doi_validator.py
  src/rxiv_maker/validators/pdf_validator.py
  tests/conftest.py
  tests/integration/test_install_verification_integration.py
  tests/system/__init__.py
  tests/system/test_ci_matrix.py
  tests/system/test_cli_workflows.py
  tests/system/test_end_to_end.py
  tests/system/test_package_managers.py
  tests/unit/test_cli_cleanup_integration.py
  tests/unit/test_container_cleanup.py
  tests/unit/test_update_checker.py
  tests/unit/test_url_to_doi.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

🔧 fix: resolve Docker build workflow issues
  .github/workflows/docker-build.yml
Due: none

🔧 test: enable workflow changes to trigger Docker builds for testing
  .github/workflows/docker-build.yml
Due: none

🔧 fix: resolve Dockerfile heredoc parsing errors
  src/docker/images/base/Dockerfile
Due: check-repo-boundaries

fix: resolve Docker build fc-cache failure and workflow reliability issues
  .github/workflows/docker-build.yml
  src/docker/images/base/Dockerfile
Due: check-repo-boundaries

fix: resolve Docker build fc-cache failure and workflow reliability issues
  .github/workflows/docker-build.yml
  EXAMPLE_MANUSCRIPT/00_CONFIG.yml
  src/docker/images/base/Dockerfile
  src/rxiv_maker/engines/docker_engine.py
  src/rxiv_maker/engines/exceptions.py
  src/rxiv_maker/engines/factory.py
  src/rxiv_maker/engines/podman_engine.py
  tests/unit/test_cli_cleanup_integration.py
  tests/unit/test_container_cleanup.py
  tests/unit/test_github_actions_integration.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

fix: improve error handling in Docker image pull process
  src/rxiv_maker/engines/docker_engine.py
Due: lazydocs-generate, check-repo-boundaries

chore: bump version to v1.4.25 and update changelog
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, check-repo-boundaries

cleanup: remove debug print statements from text formatters
  src/rxiv_maker/converters/text_formatters.py
Due: lazydocs-generate, check-repo-boundaries

fix(tests): handle CI environment detection in DOI validation test
  tests/integration/test_doi_validation_integration.py
Due: none

fix(tests): improve DOI validation test robustness
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  tests/integration/test_doi_validation_integration.py
Due: none

feat: improve arXiv submission and manuscript quality
  EXAMPLE_MANUSCRIPT/01_MAIN.md
  EXAMPLE_MANUSCRIPT/FIGURES/SFigure__arxiv_growth/SFigure__arxiv_growth.svg
  src/rxiv_maker/engine/prepare_arxiv.py
Due: lazydocs-generate, check-repo-boundaries

feat: add automated homebrew formula updates to release workflow
  .github/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/release-simple.yml
Due: none

feat: enhance container cleanup with verbose logging and error reporting
  docs/RELEASE_PROCESS.md
  docs/SUBMODULE_GUARDRAILS.md
  docs/getting-started/installation.md
  docs/package-management-system.md
  docs/platforms/LOCAL_DEVELOPMENT.md
  src/docker/images/base/Dockerfile.backup
  src/rxiv_maker/cli/main.py
  tests/unit/test_cli_cleanup_integration.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

fix: repair Docker build workflow syntax error
  .github/workflows/docker-build.yml
Due: none

fix: correct malformed grep pattern in Docker workflow
  .github/workflows/docker-build.yml
Due: none

fix: simplify Docker workflow dependency analysis logic
  .github/workflows/docker-build.yml
Due: none

test: add minimal Docker test workflow
  .github/workflows/docker-test.yml
Due: none

fix: replace complex dependency analysis with simple approach
  .github/workflows/docker-build.yml
Due: none

fix: handle undefined workflow inputs in Docker build workflow
  .github/workflows/docker-build.yml
Due: none

debug: add minimal Docker workflow for debugging (all fixes)
  .github/workflows/docker-debug.yml
  src/rxiv_maker/cli/commands/build.py
  src/rxiv_maker/engine/build_manager.py
  src/rxiv_maker/engine/generate_figures.py
  src/rxiv_maker/utils/retry.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

fix: replace complex Docker workflow with clean, working version
  .github/workflows/docker-build.yml
Due: none

fix: format and linting cleanup
  .github/workflows/docker-build.yml.backup
  .github/workflows/minimal-test.yml
  src/rxiv_maker/engine/add_bibliography.py
  src/rxiv_maker/engine/generate_figures.py
  src/rxiv_maker/engines/abstract.py
  src/rxiv_maker/engines/docker_engine.py
  src/rxiv_maker/engines/exceptions.py
  src/rxiv_maker/engines/podman_engine.py
  src/rxiv_maker/security/dependency_manager.py
  src/rxiv_maker/validators/doi/api_clients.py
Due: lazydocs-generate, check-repo-boundaries

fix: automated linting and formatting
  .github/workflows/docker-build-simple.yml
  src/rxiv_maker/engines/abstract.py
  src/rxiv_maker/engines/docker_engine.py
  src/rxiv_maker/engines/podman_engine.py
Due: lazydocs-generate, check-repo-boundaries

fix: replace complex docker workflow with working simple version
  .github/workflows/docker-build.yml
  .github/workflows/docker-build.yml.broken
Due: none

test: trigger Docker build with Dockerfile change
  src/docker/images/base/Dockerfile
Due: check-repo-boundaries

feat: implement comprehensive DOI validation fallback system
  src/rxiv_maker/validators/doi/api_clients.py
  tests/integration/test_doi_fallback_integration.py
  tests/unit/test_doi_fallback_system.py
Due: lazydocs-generate, check-repo-boundaries

feat: consolidate Docker workflows and improve code quality
  .github/workflows/container-engines.yml
  .github/workflows/docker-build-simple.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-build.yml.backup
  .github/workflows/docker-build.yml.broken
  .github/workflows/docker-debug.yml
  .github/workflows/docker-test.yml
  src/rxiv_maker/cli/commands/cache_management.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/docker/optimization.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

fix: add missing List import in cache management
  src/docker/images/base/Dockerfile
  src/rxiv_maker/cli/commands/cache_management.py
  src/rxiv_maker/config/manager.py
  src/rxiv_maker/config/validator.py
Due: lazydocs-generate, check-repo-boundaries

refactor: improve type annotations and null checking in cache management
  src/rxiv_maker/cli/commands/cache_management.py
Due: lazydocs-generate, check-repo-boundaries

♻️ refactor: major engine architecture refactoring and code quality improvements
  .github/workflows/docker-build-clean.yml
  .github/workflows/docker-build-simple.yml
  .github/workflows/docker-debug.yml
  .github/workflows/docker-test.yml
  pyproject.toml
  src/rxiv_maker/cli/commands/config.py
  src/rxiv_maker/cli/commands/security.py
  src/rxiv_maker/cli/commands/version.py
  src/rxiv_maker/docker/optimization.py
  src/rxiv_maker/engine/add_bibliography.py
  src/rxiv_maker/engine/analyze_word_count.py
  src/rxiv_maker/engine/build_manager.py
  src/rxiv_maker/engine/fix_bibliography.py
  src/rxiv_maker/engine/generate_docs.py
  src/rxiv_maker/engine/generate_figures.py
  src/rxiv_maker/engine/prepare_arxiv.py
  src/rxiv_maker/engines/abstract.py
  src/rxiv_maker/engines/docker_engine.py
  src/rxiv_maker/engines/podman_engine.py
  src/rxiv_maker/install/manager.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/processors/yaml_processor.py
  src/rxiv_maker/scripts/custom_doc_generator.py
  src/rxiv_maker/scripts/validate_manuscript.py
  src/rxiv_maker/security/dependency_manager.py
  src/rxiv_maker/security/scanner.py
  src/rxiv_maker/utils/email_encoder.py
  src/rxiv_maker/utils/figure_checksum.py
  src/rxiv_maker/utils/operation_ids.py
  src/rxiv_maker/validators/doi/api_clients.py
  src/rxiv_maker/validators/doi_validator.py
  src/rxiv_maker/validators/latex_error_parser.py
  tests/conftest.py
  tests/integration/test_doi_fallback_integration.py
  tests/unit/test_container_cleanup.py
  tests/unit/test_dependency_manager.py
  tests/unit/test_doi_fallback_system.py
  tests/unit/test_security_scanner.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

fix(tests): Fix InstallManager patch location in check_installation tests
  tests/unit/test_check_installation_command.py
Due: none

fix: resolve NotImplementedError bombs and test failures
  tests/unit/test_cli_structure.py
  tests/unit/test_doi_validator.py
  tests/unit/test_validate_command.py
Due: none

bump: version 1.5.0 → 1.5.1
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, check-repo-boundaries

docs: update changelog for v1.5.1 release
  CHANGELOG.md
Due: none

Fix widget
  notebooks/rxiv_maker_YAML_editor.ipynb
Due: none

fix: enhance error handling and citation processing
  .gitignore
  src/rxiv_maker/cli/commands/cache_management.py
  src/rxiv_maker/cli/commands/init.py
  src/rxiv_maker/docker/manager.py
  src/rxiv_maker/engine/build_manager.py
  src/rxiv_maker/engine/generate_figures.py
  src/rxiv_maker/engines/factory.py
  src/rxiv_maker/processors/author_processor.py
  src/rxiv_maker/security/scanner.py
  tests/integration/test_citation_injection.py
  tests/unit/test_citation_utils.py
  tests/unit/test_doi_validator.py
  todo.md
Due: lazydocs-generate, check-repo-boundaries

🐛 fix: resolve path handling issues in PDF generation workflow
  src/rxiv_maker/engine/build_manager.py
  src/rxiv_maker/engine/generate_figures.py
  src/rxiv_maker/engine/generate_preprint.py
  src/rxiv_maker/utils/file_helpers.py
  src/rxiv_maker/utils/pdf_utils.py
  test_init/MANUSCRIPT/03_REFERENCES.bib
  test_init/TEST_MANUSCRIPT/00_CONFIG.yml
  test_init/TEST_MANUSCRIPT/01_MAIN.md
  test_init/TEST_MANUSCRIPT/02_SUPPLEMENTARY_INFO.md
  test_init/TEST_MANUSCRIPT/03_REFERENCES.bib
  test_init/TEST_MANUSCRIPT/FIGURES/Figure__example.py
  test_init/TEST_MANUSCRIPT/FIGURES/Figure__example/Figure__example.png
  test_init/TEST_MANUSCRIPT/MANUSCRIPT/03_REFERENCES.bib
  todo_integration_guide.md
  todo_migration_proposal.md
  todo_standardized.md
  todos.md
Due: lazydocs-generate, check-repo-boundaries

🔖 bump: version 1.5.1 → 1.5.2
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, check-repo-boundaries

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-submodules: any of: ^(\.gitmodules|submodules/.*)$
  check-repo-boundaries: any of: ^(\.gitmodules|submodules/.*|src/.*|pyproject\.toml|Makefile)$
