Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

lazydocs-generate:
  name: Generate API documentation
  entry: python src/rxiv_maker/engines/operations/generate_docs.py
  language: system
  pass_filenames: false

validate-documentation:
  name: ðŸ“‹ Validate Documentation Code Examples
  entry: scripts/check-docs.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

chore: bump version to v1.8.7
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

chore: release v1.8.7
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

chore: release v1.8.8
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/generate_figures.py
  tests/unit/test_mermaid_fallback.py
Due: lazydocs-generate, validate-documentation

Release v1.8.8: Fix mermaid.ink service failures (#200)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/engines/operations/generate_figures.py
  tests/unit/test_mermaid_fallback.py
Due: lazydocs-generate, validate-documentation

feat: Add smart upgrade with install method detection (v1.8.9)
  .github/scripts/release/orchestrator.py
  DOCUMENTATION_IMPROVEMENTS.md
  README.md
  src/docs/api/README.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/cli/commands/version.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/utils/homebrew_checker.py
  src/rxiv_maker/utils/install_detector.py
  src/rxiv_maker/utils/update_checker.py
  tests/test_homebrew_checker.py
  tests/test_install_detector.py
  tests/unit/test_release_orchestrator.py
  tests/unit/test_update_checker.py
  tests/unit/test_upgrade_command.py
Due: lazydocs-generate, validate-documentation

Release v1.8.9: Smart upgrade with install method detection (#202)
  .github/scripts/release/orchestrator.py
  DOCUMENTATION_IMPROVEMENTS.md
  README.md
  src/docs/api/README.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/cli/commands/version.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/utils/homebrew_checker.py
  src/rxiv_maker/utils/install_detector.py
  src/rxiv_maker/utils/update_checker.py
  tests/test_homebrew_checker.py
  tests/test_install_detector.py
  tests/unit/test_release_orchestrator.py
  tests/unit/test_update_checker.py
  tests/unit/test_upgrade_command.py
Due: lazydocs-generate, validate-documentation

docs: Add CHANGELOG entry for v1.8.9
  CHANGELOG.md
Due: validate-documentation

docs: Add CHANGELOG entry for v1.8.9 (#203)
  CHANGELOG.md
Due: validate-documentation

feat: add GitHub fallback to homebrew update checker
  src/rxiv_maker/utils/homebrew_checker.py
Due: lazydocs-generate

feat: Add bibliography list CLI command with JSON output
  src/rxiv_maker/cli/commands/bibliography.py
  src/rxiv_maker/cli/framework.py
  src/rxiv_maker/utils/bibliography_parser.py
Due: lazydocs-generate

docs: clarify installation methods to prevent user confusion
  README.md
Due: validate-documentation

docs: clarify installation methods to prevent user confusion (#204)
  README.md
  src/rxiv_maker/cli/commands/bibliography.py
  src/rxiv_maker/cli/framework.py
  src/rxiv_maker/utils/bibliography_parser.py
  src/rxiv_maker/utils/homebrew_checker.py
Due: lazydocs-generate, validate-documentation

feat: Add repository management and refactor CLI framework
  .gitignore
  README.md
  pyproject.toml
  src/docs/api/README.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/rxiv_maker/cli/commands/__init__.py
  src/rxiv_maker/cli/commands/clean.py
  src/rxiv_maker/cli/commands/config.py
  src/rxiv_maker/cli/commands/create_repo.py
  src/rxiv_maker/cli/commands/repo_init.py
  src/rxiv_maker/cli/commands/repos.py
  src/rxiv_maker/cli/commands/repos_search.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/cli/commands/validate.py
  src/rxiv_maker/cli/framework.py
  src/rxiv_maker/cli/framework/__init__.py
  src/rxiv_maker/cli/framework/base.py
  src/rxiv_maker/cli/framework/cache_commands.py
  src/rxiv_maker/cli/framework/config_commands.py
  src/rxiv_maker/cli/framework/content_commands.py
  src/rxiv_maker/cli/framework/decorators.py
  src/rxiv_maker/cli/framework/utility_commands.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/cli/interactive.py
  src/rxiv_maker/cli/interactive_prompts.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/core/cache/advanced_cache.py
  src/rxiv_maker/core/managers/unified_config_manager.py
  src/rxiv_maker/core/repo_config.py
  src/rxiv_maker/core/repository.py
  src/rxiv_maker/templates/__init__.py
  src/rxiv_maker/templates/manager.py
  src/rxiv_maker/templates/registry.py
  src/rxiv_maker/utils/github.py
  tests/unit/test_arxiv_command.py
  tests/unit/test_build_command.py
Due: lazydocs-generate, validate-documentation

fix: Remove sidecap package causing figures to render tiny with side captions
  src/tex/style/rxiv_maker_style.cls
Due: none

fix: Address critical issues from PR review
  src/rxiv_maker/cli/commands/config.py
  src/rxiv_maker/cli/commands/create_repo.py
  src/rxiv_maker/cli/framework/content_commands.py
  src/rxiv_maker/cli/framework/utility_commands.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/cli/interactive.py
  src/rxiv_maker/cli/interactive_prompts.py
  src/rxiv_maker/core/cache/advanced_cache.py
  src/rxiv_maker/core/repository.py
  src/rxiv_maker/templates/manager.py
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

fix: Partial test fixes for pre-existing failures
  src/rxiv_maker/cli/interactive.py
  tests/unit/test_release_orchestrator.py
  tests/unit/test_trailing_slash_regression.py
  tests/unit/test_upgrade_command.py
Due: lazydocs-generate

test: Add missing Figure__positioning_test.py script
  tests/visual/figure-positioning/FIGURES/Figure__positioning_test.png
  tests/visual/figure-positioning/FIGURES/Figure__positioning_test.py
Due: none

fix: Correct caption width for single-column dedicated page figures
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate

feat: Add comprehensive security fixes and test coverage for repository management
  src/docs/api/github.py.md
  src/rxiv_maker/cli/commands/create_repo.py
  src/rxiv_maker/cli/commands/repos_search.py
  src/rxiv_maker/cli/interactive.py
  src/rxiv_maker/core/repository.py
  src/rxiv_maker/utils/github.py
  tests/integration/test_repository_cli_integration.py
  tests/unit/test_github.py
  tests/unit/test_interactive_validators.py
  tests/unit/test_manuscript_repository.py
  tests/unit/test_repository_manager.py
Due: lazydocs-generate

fix: Resolve bugs in repository management commands and tests
  src/rxiv_maker/cli/commands/create_repo.py
  src/rxiv_maker/cli/commands/repo_init.py
  tests/integration/test_repository_cli_integration.py
Due: lazydocs-generate

fix: Resolve test failure and parameter shadowing issue
  src/rxiv_maker/cli/interactive.py
  tests/unit/test_github.py
Due: lazydocs-generate

fix: Resolve all failing tests in PR
  src/rxiv_maker/core/path_manager.py
  tests/unit/test_release_orchestrator.py
  tests/unit/test_upgrade_command.py
  tests/unit/test_validate_command_fixed.py
Due: lazydocs-generate

fix: Make test_upgrade_command_failure more flexible for CI
  tests/unit/test_upgrade_command.py
Due: none

refactor: Address code quality and security improvements from PR review
  README.md
  src/docs/api/github.py.md
  src/rxiv_maker/core/repository.py
  src/rxiv_maker/utils/github.py
Due: lazydocs-generate, validate-documentation

chore: Bump version to 1.9.0
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: Correct import path for tips module in workflow_commands
  src/rxiv_maker/cli/framework/workflow_commands.py
Due: lazydocs-generate

fix: Correct import path for tips module in workflow_commands (#206)
  src/rxiv_maker/cli/framework/workflow_commands.py
Due: lazydocs-generate

chore: Bump version to v1.9.1
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

chore: Release v1.9.1 - Hotfix for import error (#207)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

chore: Release v1.9.2 - Fix figure positioning for dedicated pages
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate, validate-documentation

Release v1.9.2: Fix figure positioning for dedicated pages (#208)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate, validate-documentation

chore: Release v1.9.3 - Fix text flow for dedicated page figures
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  src/tex/style/rxiv_maker_style.cls
  tests/unit/test_figure_processor.py
Due: lazydocs-generate, validate-documentation

revert: Remove float parameter changes causing excessive white space
  CHANGELOG.md
  MANUSCRIPT/03_REFERENCES.bib
  src/tex/style/rxiv_maker_style.cls
Due: validate-documentation

style: Format test_figure_processor.py with ruff
  tests/unit/test_figure_processor.py
Due: none

Release v1.9.3: Fix text flow for dedicated page figures (#209)
  CHANGELOG.md
  MANUSCRIPT/03_REFERENCES.bib
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/figure_processor.py
  tests/unit/test_figure_processor.py
Due: lazydocs-generate, validate-documentation

fix: dedicated page figures single-column; remove auto width span; drop clearpage wrapper; deprecate singlecol_floatpage
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate

tests: align with visual spec; dedicated page uses figure* [p]; width=\textwidth auto-spans
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate

chore(release): bump version to 1.9.4
  src/rxiv_maker/__version__.py
Due: lazydocs-generate

docs(changelog): v1.9.4 figure positioning fixes
  CHANGELOG.md
Due: validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$
