Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

lazydocs-generate:
  name: Generate API documentation
  entry: python src/rxiv_maker/engines/operations/generate_docs.py
  language: system
  pass_filenames: false

validate-documentation:
  name: ðŸ“‹ Validate Documentation Code Examples
  entry: scripts/check-docs.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

feat: add hide_comments config option for DOCX export
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

fix: ensure all DOCX headings use black font color
  src/rxiv_maker/exporters/docx_writer.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

refactor: centralize shared utilities between DOCX and PDF generation
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/utils/accent_character_map.py
  src/rxiv_maker/utils/citation_range_formatter.py
  src/rxiv_maker/utils/comment_filter.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

refactor: add LabelExtractor utility for centralized label extraction
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/utils/label_extractor.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

feat: Add co-first author support to DOCX export
  src/rxiv_maker/exporters/docx_writer.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

refactor: Centralize author/affiliation processing logic
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/author_affiliation_processor.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

feat: Set Arial as default font and fix affiliation numbering size in DOCX
  src/rxiv_maker/exporters/docx_writer.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate

fix: Ensure init command tests work in CI nox environments
  tests/cli/test_init_command.py
Due: none

fix: Init command should not use MANUSCRIPT_PATH environment variable
  src/rxiv_maker/cli/framework/workflow_commands.py
Due: lazydocs-generate

Release v1.18.0: DOCX export enhancements and init command fixes
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

test: Update changelog test fixture for v1.18.0
  tests/cli/test_changelog_command.py
Due: none

test: Fix changelog tests for v1.18.0
  tests/cli/test_changelog_command.py
Due: none

feat: DOCX export enhancements - configuration options, formatting fixes, and code centralization (#273)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  src/rxiv_maker/exporters/docx_citation_mapper.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/utils/accent_character_map.py
  src/rxiv_maker/utils/author_affiliation_processor.py
  src/rxiv_maker/utils/citation_range_formatter.py
  src/rxiv_maker/utils/comment_filter.py
  src/rxiv_maker/utils/docx_helpers.py
  src/rxiv_maker/utils/label_extractor.py
  tests/cli/test_changelog_command.py
  tests/cli/test_init_command.py
  tests/fixtures/docx_export/sample_manuscript/2025__unknown_et_al__rxiv.docx
Due: lazydocs-generate, validate-documentation

feat: Add Funding and Competing Interests sections to manuscript templates
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

fix: Add Funding section support to PDF generation
  src/rxiv_maker/processors/template_processor.py
  src/tex/template.tex
Due: lazydocs-generate

fix: Constrain DOCX figures to actual text line width
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate

feat: Add all standard sections to default init template
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

feat: Complete template standardization across all types
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

chore: Bump version to v1.18.1
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

feat: Add complete template sections and fix funding/figure issues (#274)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/templates/registry.py
  src/tex/template.tex
Due: lazydocs-generate, validate-documentation

feat: Add section validation warnings for recommended manuscript sections
  src/rxiv_maker/engines/operations/validate.py
  src/rxiv_maker/validators/section_validator.py
Due: lazydocs-generate

Release v1.18.2: Enhanced table caption parser with flexible whitespace handling
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/table_processor.py
Due: lazydocs-generate, validate-documentation

feat: Add supplementary figure nomenclature fix to v1.18.2
  CHANGELOG.md
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate, validate-documentation

fix: Revert supplementary figure nomenclature change
  CHANGELOG.md
  src/rxiv_maker/converters/figure_processor.py
Due: lazydocs-generate, validate-documentation

test: Update changelog test fixture for v1.18.2
  tests/cli/test_changelog_command.py
Due: none

test: Increase version count in breaking changes test
  tests/cli/test_changelog_command.py
Due: none

Release v1.18.2: Enhanced table caption parser (#276)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/converters/table_processor.py
  tests/cli/test_changelog_command.py
Due: lazydocs-generate, validate-documentation

Release v1.18.3: DOCX equation rendering and formatting improvements
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate, validate-documentation

Release v1.18.3: DOCX equation rendering and formatting improvements (#277)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/exporters/docx_content_processor.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
Due: lazydocs-generate, validate-documentation

fix: Update changelog test fixture for v1.18.3
  tests/cli/test_changelog_command.py
Due: none

fix: Update changelog tests to reflect v1.18.3 as latest version
  tests/cli/test_changelog_command.py
Due: none

fix: Update changelog test fixture for v1.18.3 (#278)
  tests/cli/test_changelog_command.py
Due: none

docs: update installation to single-command Homebrew and add formula update guide
  CONTRIBUTING.md
  README.md
Due: validate-documentation

docs: update installation to single-command Homebrew and add formula update guide (#279)
  CONTRIBUTING.md
  README.md
Due: validate-documentation

docs: align Homebrew formula workflow with CLAUDE.md automation
  CONTRIBUTING.md
  README.md
Due: validate-documentation

docs: add standardized Homebrew documentation template and checklist
  docs/HOMEBREW_DOCS_CHECKLIST.md
  docs/HOMEBREW_FORMULA_TEMPLATE.md
Due: validate-documentation

security: remove private repository references from public docs
  CHANGELOG.md
  docs/ECOSYSTEM.md
Due: validate-documentation

docs: align Homebrew formula workflow with CLAUDE.md automation (#280)
  CONTRIBUTING.md
  README.md
Due: validate-documentation

docs: add standardized Homebrew documentation template and checklist (#281)
  docs/HOMEBREW_DOCS_CHECKLIST.md
  docs/HOMEBREW_FORMULA_TEMPLATE.md
Due: validate-documentation

security: remove private repository references from public docs (#282)
  CHANGELOG.md
  docs/ECOSYSTEM.md
Due: validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$
