Repository HenriquesLab/rxiv-maker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lazydocs-generate, validate-documentation

Path conditions:
  lazydocs-generate: any of: ^src/rxiv_maker/.*\.py$, but not: ^git_submodules/.*$
  validate-documentation: any of: .*\.md$, but not: ^(git_submodules/.*|docs_validation_report\.md|src/docs/api/.*)$

Release v1.16.1: Configurable bibliography author name formatting
  CHANGELOG.md
  MANUSCRIPT/00_CONFIG.yml
  MANUSCRIPT/03_REFERENCES.bib
  MANUSCRIPT/2025__author_et_al__rxiv.docx
  README.md
  docs/citations-and-dois.md
  pyproject.toml
  src/docs/api/README.md
  src/docs/api/__version__.py.md
  src/docs/api/author_name_formatter.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/main.py
  src/rxiv_maker/config/defaults.py
  src/rxiv_maker/config/validator.py
  src/rxiv_maker/converters/citation_processor.py
  src/rxiv_maker/core/managers/config_manager.py
  src/rxiv_maker/core/managers/unified_config_manager.py
  src/rxiv_maker/engines/operations/build_manager.py
  src/rxiv_maker/engines/operations/generate_preprint.py
  src/rxiv_maker/engines/operations/track_changes.py
  src/rxiv_maker/exporters/docx_exporter.py
  src/rxiv_maker/exporters/docx_writer.py
  src/rxiv_maker/processors/template_processor.py
  src/rxiv_maker/services/manuscript_service.py
  src/rxiv_maker/templates/registry.py
  src/rxiv_maker/utils/author_name_formatter.py
  src/rxiv_maker/utils/bst_generator.py
  src/rxiv_maker/utils/docx_helpers.py
  tests/integration/test_bibliography_author_format_docx.py
  tests/unit/test_author_name_formatter.py
  tests/unit/test_changelog_parser.py
  tests/unit/test_docx_helpers.py
  tests/unit/test_generate_preprint.py
  tests/unit/test_update_checker.py
Due: lazydocs-generate, validate-documentation

feat: make rxiv init fully non-interactive with comprehensive tests
  src/docs/api/README.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/rxiv_maker/cli/commands/init.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/cli/framework/base.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  tests/cli/test_init_command.py
Due: lazydocs-generate

feat: make rxiv init fully non-interactive with comprehensive tests (#255)
  src/docs/api/README.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/rxiv_maker/cli/commands/init.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/cli/framework/base.py
  src/rxiv_maker/cli/framework/workflow_commands.py
  tests/cli/test_init_command.py
Due: lazydocs-generate

Release v1.16.2: Non-interactive init command with comprehensive tests
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.16.2: Non-interactive init command with comprehensive tests (#256)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

fix: correct .bst template file path resolution
  src/rxiv_maker/utils/bst_generator.py
Due: lazydocs-generate

fix: correct .bst template file path resolution (#257)
  src/rxiv_maker/utils/bst_generator.py
Due: lazydocs-generate

Release v1.16.3: Fix BibTeX style template path resolution
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.16.3: Fix BibTeX style template path resolution (#258)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

docs: enhance README with VS Code extension and fix API documentation (#251)
  README.md
  RELEASING.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/cache_utils.py.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/citation_utils.py.md
  src/docs/api/email_encoder.py.md
  src/docs/api/error_codes.py.md
  src/docs/api/figure_utils.py.md
  src/docs/api/github.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/install_detector.py.md
  src/docs/api/logging_config.py.md
  src/docs/api/operation_ids.py.md
  src/docs/api/platform.py.md
  src/docs/api/python_execution_reporter.py.md
  src/docs/api/text_utils.py.md
  src/docs/api/unicode_safe.py.md
  src/docs/api/url_to_doi.py.md
  src/docs/api/validate.py.md
Due: validate-documentation

docs: simplify README for better beginner experience
  README.md
Due: validate-documentation

docs: simplify Why section, remove corporate audience segmentation
  README.md
Due: validate-documentation

docs: restructure installation with platform-specific details tags
  README.md
Due: validate-documentation

docs: fix example markdown format
  README.md
Due: validate-documentation

docs: add dual PDF/DOCX output to Why section
  README.md
Due: validate-documentation

docs: fix broken link to Getting Started Guide
  README.md
Due: validate-documentation

docs: fix broken citation documentation links
  README.md
Due: validate-documentation

docs: add publications table and improve README structure
  .github/ISSUE_TEMPLATE/publication_submission.yml
  README.md
Due: validate-documentation

docs: link publications table to showcase preview page
  README.md
Due: validate-documentation

docs: make DOIs clickable links to publications
  README.md
Due: validate-documentation

docs: simplify README for better beginner experience (#259)
  .github/ISSUE_TEMPLATE/publication_submission.yml
  README.md
Due: validate-documentation

ci: add automated link checking workflow
  .github/workflows/check-links.yml
  .lycheeignore
Due: none

fix: correct lychee command arguments for v0.21.0
  .github/workflows/check-links.yml
Due: none

fix: correct header format for lychee (add colon separator)
  .github/workflows/check-links.yml
Due: none

fix: correct glob pattern for markdown files (**/*.md)
  .github/workflows/check-links.yml
Due: none

fix: correct API doc GitHub URLs (remove double src/ in path)
  src/docs/api/__version__.py.md
  src/docs/api/author_name_formatter.py.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/cache_utils.py.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/citation_utils.py.md
  src/docs/api/email_encoder.py.md
  src/docs/api/error_codes.py.md
  src/docs/api/figure_utils.py.md
  src/docs/api/github.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/install_detector.py.md
  src/docs/api/logging_config.py.md
  src/docs/api/operation_ids.py.md
  src/docs/api/platform.py.md
  src/docs/api/python_execution_reporter.py.md
  src/docs/api/text_utils.py.md
  src/docs/api/unicode_safe.py.md
  src/docs/api/url_to_doi.py.md
  src/docs/api/validate.py.md
  src/rxiv_maker/engines/operations/generate_docs.py
Due: lazydocs-generate

chore: exclude gitignored files from link checking
  .lycheeignore
Due: none

fix: correct API documentation index to use actual filenames
  .lycheeignore
  src/docs/api/README.md
  src/docs/api/index.md
  src/rxiv_maker/engines/operations/generate_docs.py
Due: lazydocs-generate

chore: exclude missing test fixture from link checking
  .lycheeignore
Due: none

chore: add comprehensive link check exclusions
  .lycheeignore
Due: none

fix: add case-sensitive discussions URL to lycheeignore
  .lycheeignore
Due: none

ci: add automated link checking workflow (#260)
  .github/workflows/check-links.yml
  .lycheeignore
  src/docs/api/README.md
  src/docs/api/__version__.py.md
  src/docs/api/author_name_formatter.py.md
  src/docs/api/bibliography_parser.py.md
  src/docs/api/cache_utils.py.md
  src/docs/api/changelog_parser.py.md
  src/docs/api/citation_utils.py.md
  src/docs/api/email_encoder.py.md
  src/docs/api/error_codes.py.md
  src/docs/api/figure_utils.py.md
  src/docs/api/github.py.md
  src/docs/api/homebrew_checker.py.md
  src/docs/api/index.md
  src/docs/api/install_detector.py.md
  src/docs/api/logging_config.py.md
  src/docs/api/operation_ids.py.md
  src/docs/api/platform.py.md
  src/docs/api/python_execution_reporter.py.md
  src/docs/api/text_utils.py.md
  src/docs/api/unicode_safe.py.md
  src/docs/api/url_to_doi.py.md
  src/docs/api/validate.py.md
  src/rxiv_maker/engines/operations/generate_docs.py
Due: lazydocs-generate

refactor: Migrate to centralized upgrade executor from henriqueslab-updater
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/cli/commands/upgrade.py
Due: lazydocs-generate, validate-documentation

chore: Bump version to 1.16.4
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

refactor: Migrate to centralized upgrade executor (#261)
  CHANGELOG.md
  pyproject.toml
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/upgrade.py
Due: lazydocs-generate, validate-documentation

fix: improve init templates and fix upgrade command import
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate

chore: bump version to 1.16.5
  CHANGELOG.md
  src/rxiv_maker/__version__.py
Due: lazydocs-generate, validate-documentation

Release v1.16.5: Fix init templates and upgrade command (#262)
  CHANGELOG.md
  src/rxiv_maker/__version__.py
  src/rxiv_maker/cli/commands/upgrade.py
  src/rxiv_maker/templates/registry.py
Due: lazydocs-generate, validate-documentation

feat: Improve mermaid diagram error reporting and add validation
  src/rxiv_maker/cli/framework/utility_commands.py
  src/rxiv_maker/engines/operations/generate_figures.py
Due: lazydocs-generate
